@media print {
    html, body {
        background-color: white;
        //width: 1000px;
        .body-container {
            min-width: 0px !important;
        }
    }

    body {
        overflow: visible !important;

        * {
            visibility: hidden;
            //height: 1px !important;
        }

        .page-container {
            position: absolute;
            width: 100% !important;
            margin: 0 !important;
            height: auto !important;
            overflow: visible !important;
        }
    }

    #print-section {
        position: absolute;
        left: 0;
        top: 0;
        visibility: visible;

        * {
            visibility: visible;
        }

        .button {
            display: none;
        }

        .hide-when-printing {
            display: none;
        }

        .show-when-printing {
            display: block !important;
        }

        dl {
            dd {
                text-overflow: unset !important;
                white-space: unset !important;
                overflow: unset !important;
            }
        }
    }

    .print-avoid-page-break {
        page-break-inside: avoid;
    }
}
