@media print {
    html, body {
        background-color: white;
        //width: 1000px;
    }

    body {
        overflow: visible !important;

        * {
            visibility: hidden;
        }

        .container {
            position: absolute;
            width: 100% !important;
            margin: 0 !important;
        }
    }

    [ui-view] {
        position: static !important;
    }

    #print-section {
        position: absolute;
        left: 0;
        top: 0;
        width: 100% !important;
        visibility: visible;
        overflow: visible !important;
        border: 0px !important;

        * {
            visibility: visible;
        }

        .button {
            display: none;
        }
    }
}
