@media print {
  html, body {
    background-color: white; }
  body {
    overflow: visible !important; }
    body * {
      visibility: hidden; }
    body .container {
      position: absolute;
      width: 100% !important;
      margin: 0 !important; }
  [ui-view] {
    position: static !important; }
  #print-section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
    visibility: visible;
    overflow: visible !important;
    border: 0px !important; }
    #print-section * {
      visibility: visible; }
    #print-section .button {
      display: none; } }

