@import "MaterialIcons/material-icons.scss";

$main-font: 'Open Sans', sans-serif;
$main-font-color: black;
$light-font-color: #b9b9b9;
$main-color: #2d4756;

$search-drop-down-z-index: 350;
$main-menu-z-index: 1000;
$secondary-menu-z-index: 1000;
$tooltip-box-z-index: 2000;

$main-border-color: #BDBDBD;
$main-border-hover-color: #b5b5b5;

$error-color: #AD0606;
$error-border-color: #B30F0F;

$app-min-width: 1280px;

%main-box-shadow {
    box-shadow: 0px 0px 5px #E2E2E2;
}

%prevent-user-select {
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
}

%border-box {
    -webkit-box-sizing: border-box; /* Chrome all / Safari all */
    -moz-box-sizing: border-box; /* Firefox all */
    -ms-box-sizing: border-box; /* IE 10+ */
    box-sizing: border-box; /* Likely future */
}

%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

%ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ellipsis {
    @extend %ellipsis;
}

@mixin transition($param) {
    -webkit-transition: $param;
    -moz-transition: $param;
    -o-transition: $param;
    transition: $param;
}

@mixin opacity($param) {
    opacity: $param;
}

@mixin box-shadow($param) {
    -webkit-box-shadow: $param;
    -moz-box-shadow: $param;
    box-shadow: $param;
}

html, body {
    position: relative;
    padding: 0px !important;
    margin: 0px !important;
    height: 100%;
    overflow: hidden;
}

body {
    overflow-y: auto;
    font-family: $main-font;
    font-weight: 400;
    font-size: 13px;
}

$main-menu-width: 120px;
#main-menu {
    position: fixed;
    background-color: $main-color;
    width: $main-menu-width;
    height: 100%;
    font-weight: 300;
    letter-spacing: -0px;
    z-index: $main-menu-z-index;

    .menu-body {
        position: relative;
        width: 100%;
        margin-top: 50px;
        border-bottom: 1px solid #385a6d;
        border-top: 1px solid #263a46;

        .menu-item {
            display: block;
            width: 100%;
            color: whitesmoke;
            text-decoration: none;
            padding: 10px 15px;
            @include opacity(0.7);
            font-weight: 700;
            @extend %border-box;
            border-top: 1px solid #385a6d;
            border-bottom: 1px solid #263a46;

            .material-icons {
                position: relative;
                top: 5px;
                font-size: 20px;
            }

            .text {
                font-size: 12px;
                text-transform: uppercase;
            }

            &:hover {
                @include opacity(1);
                @include transition(opacity 500ms);
            }

            &.selected {
                @include opacity(1);
            }
        }
    }
}

$secondary-menu-height: 40px;
#secondary-menu {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: whitesmoke;
    padding: 10px 20px;
    margin-left: $main-menu-width;
    height: $secondary-menu-height;
    //z-index: $secondary-menu-z-index;
    @extend %border-box;
    @extend %clearfix;
}

.secondary-menu {
    position: fixed;
    width: calc((100%) - (#{$main-menu-width}));
    min-width: calc((#{$app-min-width}) - (#{$main-menu-width}));
    height: $secondary-menu-height;
    background-color: whitesmoke;
    //margin-left: $main-menu-width;
    top: 0px;
    left: $main-menu-width;
    right: 0px;
    @extend %border-box;
    z-index: $secondary-menu-z-index;

    $padding: 5px 10px 0px 10px;
    $title-container-width: 150px;

    .title-container {
        background-color: #efefef;
        float: left;
        width: $title-container-width;
        height: 100%;
        @extend %border-box;
        padding: $padding;

        .title {
            display: inline-block;
            font-size: 20px;
            text-transform: uppercase;
        }

        .list-total {
            display: inline-block;
            font-size: 11px;
            color: $light-font-color;
        }
    }

    .filters-container {
        float: left;
        //margin-left: $title-container-width;
        padding: $padding;

        .search {
            display: inline-block;
        }

        .advanced-search {
            position: absolute;
            padding: 25px 30px;
            margin-top: 4px;
            @include box-shadow(0px 0px 5px #e0dfdf);
            background-color: white;
            border: 1px solid #d0d0d0;
        }
    }

    .buttons {
        padding: $padding;
    }
}

.buttons {
    float: right;
} 

[ui-view] {
    position: fixed;
    min-width: calc((#{$app-min-width}) - (#{$main-menu-width}));
    top: 0;
    left: 0;
    width: calc((100%) - (#{$main-menu-width}));
    margin-top: $secondary-menu-height;
    height: calc((100%) - (#{$secondary-menu-height}));
    margin-left: $main-menu-width;
    background-color: white;
    @extend %border-box;

    &.padded {
        padding: 20px 30px;
    }

    [ui-view] { // only children ui-view will get animated
        @include transition(all 400ms linear);
        @include box-shadow(-10px 0px 150px 5px #aab7bf);

        &.ng-enter {
            left: 100%;
        }

        &.ng-enter-active {
            left: 0px;
        }

        &.ng-leave {
            left: 0%;
        }

        &.ng-leave-active {
            left: 100%;
        }

        &:empty {
            display: none;
        }
    }
}

/**** LIST AND TABLE ****/
.list-container {
    display: flex;
    flex-flow: column;
    height: 100%;
    margin-bottom: 20px;

    @extend %border-box;

    table {
        display: flex;
        flex-flow: column;
        align-items: stretch;
        height: 100%;
        border-collapse: collapse;

        thead {
            width: calc((100%) - (18px)) !important; //offset scrollbar
            tr {
                //border-bottom: 1px solid #CECECE;
                text-transform: uppercase;
                font-size: 12px;

                th {
                    text-align: left;
                    padding: 10px 5px;

                    a {
                        margin-right: 15px;

                        &:after {
                            @extend %material-icons;
                            position: absolute;
                            display: inline;
                            font-size: 22px;
                            content: "arrow_drop_down";
                            opacity: 0.3;
                            line-height: 80%;
                            margin-left: -3px;
                            margin-right: -3px;
                        }

                        &.sorted-asc:after {
                            content: "arrow_drop_up";
                            opacity: 1;
                        }

                        &.sorted-desc:after {
                            content: "arrow_drop_down";
                            opacity: 1;
                        }

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        tbody {
            display: block;
            height: 100%;
            overflow-y: scroll;

            tr {
                @include transition(background-color 300ms ease-in-out);

                &:hover {
                    background-color: whitesmoke;
                }

                td {
                    padding: 3px 5px;

                    dl {
                        width: 100%;
                        margin: 0px;

                        dd {
                            font-size: inherit;
                            min-height: 0px;

                            input[date-input] {
                                width: 100px !important;
                            }
                        }
                    }
                }
            }

            &.empty {
                &:after {
                    display: block;
                    position: absolute;
                    width: 100%;
                    top: 10%;
                    content: "NO RESULTS";
                    text-align: center;
                    color: #BFBFBF;
                    font-size: 24px;
                }
            }
        }

        thead, tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }

        td, th {
            &.number {
                width: 50px;
            }

            &.action {
                width: 50px;
            }

            &.address {
                width: 200px;
            }

            &.commodities {
                width: 200px;
            }

            &.date-time {
                width: 140px;
            }
        }

        .icon {
            position: relative;
            display: inline-block;
            top: 2px;
        }
    }
}

.button,
.dropdown button {
    position: relative;
    display: inline-block;
    font-family: $main-font;
    font-weight: bold;
    text-transform: uppercase;
    min-width: 60px;
    height: 28px;
    background-color: white;
    outline: none;
    border: 1px solid #C5C5C5;
    padding: 0px 5px;
    text-align: center;
    color: $main-color;
    //vertical-align: middle;
    text-decoration: none;
    font-size: 11px;

    @include transition(background-color 200ms linear);
    @extend %border-box;


    &.main {
        border: 1px solid black;
        background-color: #2d4756;
        color: whitesmoke;

        &:hover {
            background-color: black;
        }
    }

    &.disabled,
    &:disabled {
        @include opacity(0.5);
        pointer-events: none;
    }

    &:hover {
        background-color: whitesmoke;
        cursor: pointer;
    }
}

.open > .dropdown-menu {
    display: block;
}

/**** DL DT DD ****/
dl {
    position: relative;
    width: 240px;
    padding: 0px;
    margin: 0px 0px 8px 0px;

    dt {
        position: relative;
        width: 100%;
        padding: 0px 0px 0px 0px;
        margin: 0px;
        text-align: left;
        font-size: 12px;
        text-transform: uppercase;
        height: 18px;
        color: #717171;

        .help {
            position: relative;
            left: 1px;
            top: -2px;
        }

        .required:after {
            content: " *";
            color: $error-color;
        }

        @extend %ellipsis;
    }

    dd {
        position: relative;
        width: 100%;
        min-height: 30px;
        padding: 0px 10px 0px 0px;
        margin: 0px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        word-break: break-all;
        color: black;

        @extend %ellipsis;
        @extend %border-box;

        input:not([type=checkbox]):not([type="radio"]),
        select,
        textarea {
            width: 100%;
        }

        .input-container {
            width: 100%;
            white-space: normal;
        }
        /*&:empty:after {
            content: "--";
        }*/
        &.thin {
            font-weight: 400;
        }

        &.expandable {
            text-overflow: none;
            white-space: normal;
        }

        input[type=radio] + label {
            font-weight: 100;
            font-size: 15px;
        }
    }

    &.flat {
        margin: 0px;

        dd {
            min-height: auto;
            margin: 0px;
        }
    }

    &.dl-full {
        width: 100%;
    }

    &.dl-half {
        width: 50%;
    }

    &.dl-auto {
        width: auto;
    }

    &.dl-XXXXS {
        width: 30px;
    }


    &.dl-XXXS {
        width: 60px;
    }

    &.dl-XXS {
        width: 90px;
    }

    &.dl-XS {
        width: 120px;
    }

    &.dl-S {
        width: 180px;
    }

    &.dl-M {
        width: 240px;
    }

    &.dl-L {
        width: 300px;
    }

    &.dl-XL {
        width: 360px;
    }

    &.dl-XXL {
        width: 420px;
    }

    &.dl-XXXL {
        width: 480px;
    }

    &.dl-XXXXL {
        width: 540px;
    }
}

section {
    @extend %clearfix;

    dl {
        float: left;
    }
}

.file-uploader-input {
    opacity: 0;
}

/*.file-uploader {
    position: relative;
    width: 100%;
    min-height: 150px;

    .file-uploader-container {
        position: absolute;
        width: 100%;
        height: 100%;
        border: 1px solid $main-border-color;
        text-align: center;
        padding: 0px 20px 0px 20px;
        @extend %border-box;

        .file-uploader-input {
            position: absolute;
            width: 100%;
            height: 100% !important;
            top: 0px;
            left: 0px;
            bottom: 0px;
            right: 0px;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
        }

        .default-text {
            position: relative;
            width: 100%;
            font-size: 17px;
            font-weight: 100;
            color: #989898;
            top: 45%;
        }

        .uploading-files {
            position: relative;
            top: 35%;
            //color: $selection-color;
            font-size: 14px;

            .material-icons {
                font-size: 60px;
            }
        }

        &:hover {
            border: 1px solid $main-border-hover-color !important;
            cursor: pointer;
        }

        &.active {
            //border: 1px solid $selection-border-color;
            background-color: #f6fcff;
        }
    }
}*/

input.search-box {
    width: 200px;
    height: 28px !important;
    padding-left: 30px !important;
    padding-right: 0;
    margin-right: 1px !important;
    background-image: url('/Images/Icons/search-box-icon.png');
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 8px center;
    transition: width 300ms ease-in-out;

    &:focus {
        //width: 300px;
    }
}


/**** INPUTS ****/
input:not([type=checkbox]):not([type="radio"]),
select,
textarea,
.input-container {
    font-family: $main-font;
    height: 24px;
    padding: 0px 3px 0px 3px;
    margin: 0px;
    box-sizing: border-box;
    outline: 0;
    border: 1px solid #BDBDBD;
    font-size: 12px;
    background-color: white;

    &:focus {
        outline: none;
        //border: 1px solid $selection-color;
        transition: all 150ms ease-in-out;
    }

    &[date-input] {
        background-image: url('/Images/Icons/date-input.png');
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: right 5px center;
        padding-right: 24px;
    }

    &:disabled {
        background-color: whitesmoke;
    }
}

.input-container {
    min-height: 24px;
    height: auto;
    padding: 1px 2px 1px 2px;

    input {
        width: 200px;
        height: 28px;
        border: none;
    }

    &:hover {
        cursor: text;
    }
}

textarea {
    height: 100px;
    //max-height: 500px;
    resize: vertical;
}

#help-tooltip {
    position: absolute;
    background-color: white;
    z-index: $tooltip-box-z-index;
    padding: 7px 9px 7px 9px;
    border: 1px solid #D5D5D5;
    display: none;
    max-width: 400px;
    box-shadow: 0px 0px 5px #D2D2D2;
    word-wrap: break-word;
}

/**** Icon ****/
.icon {
    &[ng-click] {
        opacity: 0.5;

        &:hover {
            opacity: 1;
            cursor: pointer !important;
        }
    }

    &:before {
        @extend %material-icons;
        color: #757575;
        font-size: 22px;
    }

    &.disabled {
        opacity: 0.2;
    }

    &.edit:before {
        content: "create";
        color: #07618C;
    }

    &.delete:before {
        content: "delete";
        color: $error-color;
    }

    &.cancel:before {
        content: "cancel";
    }

    &.call-completed:before {
        content: "check";
        color: #4ab515;
        font-weight: bolder;
    }

    &.call-delivering:before {
        content: "send";
        color: #eabc63;
        //font-size: 20px;
    }

    &.call-cancelled:before {
        content: "close";
        opacity: 0.5;
    }
}

.search-drop-down {
    position: relative;
    background-color: white;

    input {
        background-image: url('/Images/Icons/search-box-icon.png');
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: right 5px center;
        padding-right: 24px !important;
    }

    .input-container {
        position: relative;
        display: block;
        height: 28px;
        padding-right: 32px;
        @extend %border-box;

        .inner-container {
            position: relative;
            white-space: nowrap;
            overflow: hidden;
            width: 100%;
            height: 28px;
        }

        .counter {
            position: absolute;
            top: 0px;
            left: 0px;
            bottom: 0px;
            min-width: 28px;
            border-right: 1px solid #BDBDBD;
            text-align: center;
            background-color: whitesmoke;
            font-size: 12px;
            font-weight: 600;
            color: #888888;
            line-height: 25px;

            .clear {
                display: none;
            }

            &:hover {
                .number {
                    display: none;
                }

                .clear {
                    display: inline;
                }
            }
        }

        &.counter {
            padding-left: 32px;
        }

        &:after {
            @extend %material-icons;
            position: absolute;
            display: block;
            right: 2px;
            top: 0px;
            font-size: 24px;
            content: "playlist_add_check";
            opacity: 0.4;
        }

        .placeholder {
            padding-left: 3px;
            padding-top: 2px;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .results-container {
        position: absolute;
        min-width: 100%;
        max-width: 500px;
        max-height: 240px;
        background: white;
        overflow-y: auto;
        left: 0px;
        top: 25px;
        font-size: 13px;
        z-index: $search-drop-down-z-index;
        @extend %main-box-shadow;
        @extend %border-box;

        .result-row {
            display: block;
            padding: 4px 35px 4px 5px;
            @extend %border-box;

            .description {
                font-size: 12px;
                color: #8A8A8A;
            }

            &.hovered {
                background-color: whitesmoke;
                cursor: pointer;
            }
        }

        .no-result {
            display: block;
            padding: 20px 35px;
            text-align: center;
        }
    }
}

#wait-mask {
    position: fixed;
    z-index: 9999;
    height: 100%;
    width: 100%;
    //cursor: wait;
    display: none;


    .loading {
        position: absolute;
        top: 45%;
        left: 50%;

        /*box-shadow: 0 0 15px #E8E7E7;
        border: 1px solid #D8D8D8;*/
        .loading-bar {
            display: inline-block;
            width: 5px;
            margin-right: 2px;
            height: 24px;
            border-radius: 4px;
            animation: loading 1s ease-in-out infinite;
        }

        .loading-bar:nth-child(1) {
            background-color: #3498db;
            animation-delay: 0;
        }

        .loading-bar:nth-child(2) {
            background-color: #c0392b;
            animation-delay: 0.09s;
        }

        .loading-bar:nth-child(3) {
            background-color: #f1c40f;
            animation-delay: .18s;
        }

        .loading-bar:nth-child(4) {
            background-color: #27ae60;
            animation-delay: .27s;
        }

        @keyframes loading {
            0% {
                transform: scale(1);
            }

            20% {
                transform: scale(1, 2.2);
            }

            40% {
                transform: scale(1);
            }
        }
    }
}

#login {
    height: 100%;

    [ui-view] {
        //position: relative;
        margin-left: 0px;
        width: 100%;
        background-color: none;
        margin-top: 0px;
        height: 100%;
        background-color: $main-color; /* fallback for old browsers */
    }

    .error-message {
        color: $error-color;
        margin-bottom: 10px;
    }

    .login-page {
        width: 400px;
        padding: 8% 0 0;
        margin: auto;
    }

    .form {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 360px;
        margin: 0 auto 100px;
        padding: 45px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

    .form input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }

    .form button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background-color: $main-color;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
    }

    .form button:hover, .form button:active, .form button:focus {
        background: black;
    }

    .form .message {
        margin: 15px 0 0;
        color: #b3b3b3;
        font-size: 12px;
    }

    .form .message a {
        color: #4CAF50;
        text-decoration: none;
    }

    .form .register-form {
        display: none;
    }

    .container {
        position: relative;
        z-index: 1;
        max-width: 300px;
        margin: 0 auto;
    }

    .container:before, .container:after {
        content: "";
        display: block;
        clear: both;
    }

    .container .info {
        margin: 50px auto;
        text-align: center;
    }

    .container .info h1 {
        margin: 0 0 15px;
        padding: 0;
        font-size: 36px;
        font-weight: 300;
        color: #1a1a1a;
    }

    .container .info span {
        color: #4d4d4d;
        font-size: 12px;
    }

    .container .info span a {
        color: #000000;
        text-decoration: none;
    }

    .container .info span .fa {
        color: #EF3B3A;
    }
}

.overflow-visible {
    overflow: visible !important;
}

.commodities-edit {
    .view-container {
    }

    .edit-container {
        position: absolute;
        min-width: 100%;
        max-width: 500px;
        max-height: 240px;
        overflow-y: auto;
        left: 0px;
        top: 25px;
        background-color: white;
        z-index: $search-drop-down-z-index;
        @extend %main-box-shadow;
        @extend %border-box;
        @extend %prevent-user-select;

        .edit-row {
            padding: 4px 10px;

            .item-name {
                font-weight: bold;
                font-size: 14px;
                padding-right: 5px;
            }

            .minus,
            .plus {
                position: relative;
                top: 5px;
                @include opacity(0.3);

                &:after {
                    @extend %material-icons;
                    font-size: 22px;
                }

                &:hover {
                    cursor: pointer;
                    @include opacity(1);
                }

                &.minus {
                    &:after {
                        @extend %material-icons;
                        content: "do_not_disturb_on";
                    }
                }

                &.plus {
                    &:after {
                        @extend %material-icons;
                        content: "add_circle";
                    }
                }
            }

            .quantity {
                padding-left: 5px;
                padding-right: 5px;
                font-size: 16px;
            }
        }
    }

    input {
        position: absolute;
        @include opacity(0);
    }
}

.center-content {
    text-align: center !important;
}

.right-content {
    text-align: right !important;
}

.left-content {
    text-align: left !important;
}

/**** VALIDATIONS ****/
.field-validation-error {
    display: none;
    font-weight: bold;
    color: $error-color;
    font-size: 13px;

    &:not(.ng-hide) {
        ~ input:not([type=checkbox]):not([type=radio]),
        ~ select,
        ~ textarea,
        {
            border: 1px solid #B30F0F !important;
            background-color: #FFF2F2;
        }
        // for drop down search
        ~ .search-drop-down input,
        ~ .search-drop-down .input-container {
            &:not(:disabled) {
                border: 1px solid #B30F0F;
                background-color: #FFF2F2;
            }
        }
    }
}

#validation-tooltip {
    position: absolute;
    background-color: $error-color;
    padding: 5px 10px 5px 10px;
    color: white;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    max-width: 200px;
    z-index: $tooltip-box-z-index;
    word-wrap: break-word;
    display: none;

    &:before {
        position: absolute;
        display: block;
        content: "";
        left: 0px;
        bottom: -15px;
        width: 0;
        height: 10px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #A50202;
    }
}

.invisible {
    visibility: hidden;
}

.left {
    float: left;
}

.right {
    float: right;
}

.fit-height {
    height: 100%;
}

#import {
    height: 100%;

    .form {
        float: left;
        width: 30%;
        padding-right: 20px;
        @extend %border-box;
        height: 100%;

        dl {
            height: 100%;

            dd {
                height: 100%;

                textarea {
                    height: 100%;
                }
            }
        }
    }

    .results-container {
        float: right;
        width: 70%;
        @extend %border-box;
        padding: 20px;
        border: 1px solid $main-border-color;
        height: 100%;
        overflow: auto;

        .company-container {
            @extend %clearfix;
            margin-bottom: 20px;

            .title {
                font-size: 34px;
                font-weight: bold;
                margin-bottom: 10px;
            }

            .phone-number-container {
                width: 33%;
                float: left;
                margin: 10px 0px;

                .phone-number {
                    font-size: 28px;
                }

                .phone-company {
                    font-size: 16px;
                }
            }
        }
    }
}

.disabled,
:disabled {
    opacity: 0.5;
    pointer-events: none;
}