@import "MaterialIcons/material-icons";

$main-font: 'Open Sans', sans-serif;
//$menu-font: 'Open Sans Condensed', sans-serif;

%main-box-shadow {
	box-shadow: 0px 0px 5px #E2E2E2;
}

%prevent-user-select {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */    
}

%border-box {
	-webkit-box-sizing: border-box;  /* Chrome all / Safari all */
	-moz-box-sizing: border-box;     /* Firefox all */
	-ms-box-sizing: border-box;      /* IE 10+ */
	box-sizing: border-box;			 /* Likely future */    
}

%clearfix {
	&:after {
		content:"";
		display:table;
		clear:both;
	}
}

@mixin transition($param) {
	-webkit-transition: $param; /* Safari */
    transition: $param;
}

@mixin opacity($param) {
	opacity: $param;
}

html, body
{
	position: relative;
	padding: 0px !important;
	margin: 0px !important;
	height: 100%;
	overflow: hidden;
}

body {
	overflow-y: auto;
	font-family: $main-font;
	font-weight: 400;
	font-size: 12px;
}

#main-menu {
	position: fixed;
	background-color: #2d4756;
	width: 150px;
	height: 100%;
	font-weight: 300;
	letter-spacing: -0px;

	.menu-body {
		position: relative;
		width: 100%;
		margin-top: 50px;
		border-bottom: 1px solid #385a6d;
		border-top: 1px solid #263a46;

		.menu-item {
			display: block;
			width: 100%;
			color: whitesmoke;
			text-decoration: none;
			padding: 10px 15px;
			@include opacity(0.7);
			font-weight: 700;
			@extend %border-box;

			border-top: 1px solid #385a6d;
			border-bottom: 1px solid #263a46;

			.material-icons {
				position: relative;
				top: 5px;
				font-size: 20px;
			}

			.text {
				font-size: 12px;
				text-transform: uppercase;
			}

			&:hover {
				@include opacity(1);
				@include transition(opacity 500ms);
			}
		}
	}
}

#container {
	position: relative;
	margin-left: 150px;

	.container-header {
		width: 100%;
		height: 40px;
		background-color: whitesmoke;
		padding: 10px 20px;

		.title {
			font-size: 18px;
			text-transform: uppercase;
		}
	}

	.container-body {
		padding: 30px 20px;
	}
}

/**** LIST AND TABLE ****/
.list-container {
	margin-bottom: 20px;

	.header {
		position: relative;
		height: 32px;
		@extend %clearfix;
		@extend %prevent-user-select;
		margin-bottom: 7px;

		dl {
			margin: 0;
			float: left;
		}

		.title {
			position: relative;
			float: left;
			margin-bottom: 0px;
		}

		.search {
			display: inline-block;
			vertical-align: top;
		}

		.error.icon {
			top: 4px;
		}

		.link {
			top: 3px;
			margin-right: 5px;
		}
	}

	.table {
		padding: 5px 15px 15px 15px;
		background-color: white;
		overflow: auto;

		@extend %main-box-shadow;

		table {
			position: relative;
			width: 100%;
			border-collapse: collapse;
			background-color: white;

			tr {
				position: relative;
				text-align: left;
			}

			th,
			td {
				&:first-child {
					padding-left: 20px;
				}

				&:last-child {
					padding-right: 20px;
				}

				&.checkbox-wrapper {
					width: 50px;
					text-align: center;
					@extend %border-box;
					@extend %prevent-user-select;
					&:hover {
						cursor: pointer;
					}
				}

				&.fit-content {
					width: 1%;
				}
			}

			thead {
				tr {
					//background-color: #D2E0E6;
					color: #50788C;
					font-size: 100%;
					text-transform: uppercase;
					//border-bottom: 1px solid $border-color;
				}

				th {
					padding: 10px 0px 10px 10px;
					text-align: left;
					@extend %prevent-user-select;

					a {
						&:not(:first-of-type) {
							margin-left: 5px;
						}

						&.sortable {
							&:before {
								@extend %material-icons;
								position: relative;
								display: inline;
								font-size: 22px;
								content: "arrow_drop_down";
								opacity: 0.3;
								line-height: 80%;
								margin-left: -7px;
								margin-right: -3px;
								top: 6px;
							}

							&.sorted-asc:before {
								content: "arrow_drop_up";
								opacity: 1;
							}

							&.sorted-desc:before {
								content: "arrow_drop_down";
								opacity: 1;
							}

							&:hover {
								cursor: pointer;
							}
						}
					}

					.help:after {
						top: -2px;
					}
				}
			}

			tbody {
				width: 100%;

				tr {
					//border-bottom: 1px solid #EFEFEF;
					height: 34px;

					&:last-child {
						//border-bottom: none;
					}

					&[ng-click]:not(.notClickable):hover {
						background-color: whitesmoke;
						cursor: pointer;
					}

					&.selected {
						//background-color: $selection-light-color !important;
					}
				}

				td {
					padding: 5px 10px 5px 10px;
					font-size: 100%;

					dl {
						margin: 0px;
						display: inline-block;
						vertical-align: middle;
						
						dd {
							min-height: auto;
							padding: 0px;
							input:not([type=checkbox]) {
								
							}
						}
					}

					.icon {
						font-size: 16px;

						&.lock:before {
							content: "lock";
						}

						&.check:before {
							font-size: 22px;
							content: "check";
						}
					}
				}
			}
		}
	}

	/* For both table and list-panels */
	tbody,
	.list-panels-container {
		&.empty {
			display: block;
			height: 100px;

			&:after {
				display: block;
				position: absolute;
				width: 100%;
				top: 50%;
				content: "NO RESULTS";
				text-align: center;
				color: #BFBFBF;
				font-size: 24px;
			}
		}
	}
}