@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/Content/MaterialIcons/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(/Content/MaterialIcons/MaterialIcons-Regular.woff2) format("woff2"), url(/Content/MaterialIcons/MaterialIcons-Regular.woff) format("woff"), url(/Content/MaterialIcons/MaterialIcons-Regular.ttf) format("truetype"); }

.material-icons, .list-container table thead tr th a:after, .icon:before, .search-drop-down .input-container:after, .commodities-edit .edit-container .edit-row .minus:after,
.commodities-edit .edit-container .edit-row .plus:after,
.commodities-edit .edit-container .edit-row .plus.minus:after {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.search-drop-down .results-container, .commodities-edit .edit-container, #finance .panels .panel {
  -webkit-box-shadow: 0px 0px 2px #E2E2E2;
  -moz-box-shadow: 0px 0px 2px #E2E2E2;
  box-shadow: 0px 0px 2px #E2E2E2; }

.commodities-edit .edit-container {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */ }

#main-menu .menu-body .menu-item, #secondary-menu, .secondary-menu, .secondary-menu .title-container, [ui-view], .list-container, .button,
.dropdown button, dl dd, .search-drop-down .input-container, .search-drop-down .results-container, .search-drop-down .results-container .result-row, .commodities-edit .edit-container, #import .form, #import .results-container {
  -webkit-box-sizing: border-box;
  /* Chrome all / Safari all */
  -moz-box-sizing: border-box;
  /* Firefox all */
  -ms-box-sizing: border-box;
  /* IE 10+ */
  box-sizing: border-box;
  /* Likely future */ }

#secondary-menu:after, section:after, #import .results-container .company-container:after {
  content: "";
  display: table;
  clear: both; }

.ellipsis, dl dt, dl dd {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

html, body {
  position: relative;
  padding: 0px !important;
  margin: 0px !important;
  height: 100%;
  overflow: hidden; }

body {
  overflow-y: auto;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px; }

#main-menu {
  position: fixed;
  background-color: #2d4756;
  width: 120px;
  height: 100%;
  font-weight: 300;
  letter-spacing: -0px;
  z-index: 1000; }
  #main-menu .menu-body {
    position: relative;
    width: 100%;
    margin-top: 50px;
    border-bottom: 1px solid #385a6d;
    border-top: 1px solid #263a46; }
    #main-menu .menu-body .menu-item {
      display: block;
      width: 100%;
      color: whitesmoke;
      text-decoration: none;
      padding: 10px 15px;
      opacity: 0.7;
      font-weight: 700;
      border-top: 1px solid #385a6d;
      border-bottom: 1px solid #263a46; }
      #main-menu .menu-body .menu-item .material-icons {
        position: relative;
        top: 5px;
        font-size: 20px; }
      #main-menu .menu-body .menu-item .text {
        font-size: 12px;
        text-transform: uppercase; }
      #main-menu .menu-body .menu-item:hover {
        opacity: 1;
        -webkit-transition: opacity 500ms;
        -moz-transition: opacity 500ms;
        -o-transition: opacity 500ms;
        transition: opacity 500ms; }
      #main-menu .menu-body .menu-item.selected {
        opacity: 1; }

#secondary-menu {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: whitesmoke;
  padding: 10px 20px;
  margin-left: 120px;
  height: 40px; }

.secondary-menu {
  position: fixed;
  width: calc((100%) - (120px));
  min-width: calc((1280px) - (120px));
  height: 40px;
  background-color: whitesmoke;
  top: 0px;
  left: 120px;
  right: 0px;
  z-index: 1000; }
  .secondary-menu .title-container {
    background-color: #efefef;
    float: left;
    width: 150px;
    height: 100%;
    padding: 5px 10px 0px 10px; }
    .secondary-menu .title-container .title {
      display: inline-block;
      font-size: 20px;
      text-transform: uppercase; }
    .secondary-menu .title-container .list-total {
      display: inline-block;
      font-size: 11px;
      color: #b9b9b9; }
  .secondary-menu .filters-container {
    float: left;
    padding: 5px 10px 0px 10px; }
    .secondary-menu .filters-container .search {
      display: inline-block; }
    .secondary-menu .filters-container .advanced-search {
      position: absolute;
      padding: 25px 30px;
      margin-top: 4px;
      -webkit-box-shadow: 0px 0px 5px #e0dfdf;
      -moz-box-shadow: 0px 0px 5px #e0dfdf;
      box-shadow: 0px 0px 5px #e0dfdf;
      background-color: white;
      border: 1px solid #d0d0d0; }
  .secondary-menu .buttons {
    padding: 5px 10px 0px 10px; }

.buttons {
  float: right; }

[ui-view] {
  position: fixed;
  min-width: calc((1280px) - (120px));
  top: 0;
  left: 0;
  width: calc((100%) - (120px));
  margin-top: 40px;
  height: calc((100%) - (40px));
  margin-left: 120px;
  background-color: white; }
  [ui-view].padded {
    padding: 20px 30px; }
  [ui-view] [ui-view] {
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    transition: all 400ms linear;
    -webkit-box-shadow: -10px 0px 150px 5px #aab7bf;
    -moz-box-shadow: -10px 0px 150px 5px #aab7bf;
    box-shadow: -10px 0px 150px 5px #aab7bf; }
    [ui-view] [ui-view].ng-enter {
      left: 100%; }
    [ui-view] [ui-view].ng-enter-active {
      left: 0px; }
    [ui-view] [ui-view].ng-leave {
      left: 0%; }
    [ui-view] [ui-view].ng-leave-active {
      left: 100%; }
    [ui-view] [ui-view]:empty {
      display: none; }

/**** LIST AND TABLE ****/
.list-container {
  display: flex;
  flex-flow: column;
  height: 100%;
  margin-bottom: 20px; }
  .list-container table {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    height: 100%;
    border-collapse: collapse; }
    .list-container table thead {
      width: calc((100%) - (18px)) !important; }
      .list-container table thead tr {
        text-transform: uppercase;
        font-size: 12px; }
        .list-container table thead tr th {
          text-align: left;
          padding: 10px 5px; }
          .list-container table thead tr th a {
            margin-right: 15px; }
            .list-container table thead tr th a:after {
              position: absolute;
              display: inline;
              font-size: 22px;
              content: "arrow_drop_down";
              opacity: 0.3;
              line-height: 80%;
              margin-left: -3px;
              margin-right: -3px; }
            .list-container table thead tr th a.sorted-asc:after {
              content: "arrow_drop_up";
              opacity: 1; }
            .list-container table thead tr th a.sorted-desc:after {
              content: "arrow_drop_down";
              opacity: 1; }
            .list-container table thead tr th a:hover {
              cursor: pointer; }
    .list-container table tbody {
      display: block;
      height: 100%;
      overflow-y: scroll; }
      .list-container table tbody tr {
        -webkit-transition: background-color 300ms ease-in-out;
        -moz-transition: background-color 300ms ease-in-out;
        -o-transition: background-color 300ms ease-in-out;
        transition: background-color 300ms ease-in-out; }
        .list-container table tbody tr:hover {
          background-color: whitesmoke; }
        .list-container table tbody tr td {
          padding: 3px 5px; }
          .list-container table tbody tr td dl {
            width: 100%;
            margin: 0px; }
            .list-container table tbody tr td dl dd {
              font-size: inherit;
              min-height: 0px; }
              .list-container table tbody tr td dl dd input[date-input] {
                width: 100px !important; }
      .list-container table tbody.empty:after {
        display: block;
        position: absolute;
        width: 100%;
        top: 10%;
        content: "NO RESULTS";
        text-align: center;
        color: #BFBFBF;
        font-size: 24px; }
    .list-container table thead, .list-container table tbody tr {
      display: table;
      width: 100%;
      table-layout: fixed; }
    .list-container table td.number, .list-container table th.number {
      width: 50px; }
    .list-container table td.action, .list-container table th.action {
      width: 50px; }
    .list-container table td.address, .list-container table th.address {
      width: 200px; }
    .list-container table td.commodities, .list-container table th.commodities {
      width: 200px; }
    .list-container table td.date-time, .list-container table th.date-time {
      width: 140px; }
    .list-container table .icon {
      position: relative;
      display: inline-block;
      top: 2px; }

.button,
.dropdown button {
  position: relative;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  min-width: 60px;
  height: 28px;
  background-color: white;
  outline: none;
  border: 1px solid #C5C5C5;
  padding: 0px 5px;
  text-align: center;
  color: #2d4756;
  text-decoration: none;
  font-size: 11px;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  transition: background-color 200ms linear; }
  .button.main,
  .dropdown button.main {
    border: 1px solid black;
    background-color: #2d4756;
    color: whitesmoke; }
    .button.main:hover,
    .dropdown button.main:hover {
      background-color: black; }
  .button.disabled, .button:disabled,
  .dropdown button.disabled,
  .dropdown button:disabled {
    opacity: 0.5;
    pointer-events: none; }
  .button:hover,
  .dropdown button:hover {
    background-color: whitesmoke;
    cursor: pointer; }

.open > .dropdown-menu {
  display: block; }

/**** DL DT DD ****/
dl {
  position: relative;
  width: 240px;
  padding: 0px;
  margin: 0px 0px 8px 0px; }
  dl dt {
    position: relative;
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    text-align: left;
    font-size: 12px;
    text-transform: uppercase;
    height: 18px;
    color: #717171; }
    dl dt .help {
      position: relative;
      left: 1px;
      top: -2px; }
    dl dt .required:after {
      content: " *";
      color: #AD0606; }
  dl dd {
    position: relative;
    width: 100%;
    min-height: 30px;
    padding: 0px 10px 0px 0px;
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    word-break: break-all;
    color: black;
    /*&:empty:after {
            content: "--";
        }*/ }
    dl dd input:not([type=checkbox]):not([type="radio"]),
    dl dd select,
    dl dd textarea {
      width: 100%; }
    dl dd .input-container {
      width: 100%;
      white-space: normal; }
    dl dd.thin {
      font-weight: 400; }
    dl dd.expandable {
      text-overflow: none;
      white-space: normal; }
    dl dd input[type=radio] + label {
      font-weight: 100;
      font-size: 15px; }
  dl.flat {
    margin: 0px; }
    dl.flat dd {
      min-height: auto;
      margin: 0px; }
  dl.dl-full {
    width: 100%; }
  dl.dl-half {
    width: 50%; }
  dl.dl-auto {
    width: auto; }
  dl.dl-XXXXS {
    width: 30px; }
  dl.dl-XXXS {
    width: 60px; }
  dl.dl-XXS {
    width: 90px; }
  dl.dl-XS {
    width: 120px; }
  dl.dl-S {
    width: 180px; }
  dl.dl-M {
    width: 240px; }
  dl.dl-L {
    width: 300px; }
  dl.dl-XL {
    width: 360px; }
  dl.dl-XXL {
    width: 420px; }
  dl.dl-XXXL {
    width: 480px; }
  dl.dl-XXXXL {
    width: 540px; }

section dl {
  float: left; }

.file-uploader-input {
  opacity: 0; }

/*.file-uploader {
    position: relative;
    width: 100%;
    min-height: 150px;

    .file-uploader-container {
        position: absolute;
        width: 100%;
        height: 100%;
        border: 1px solid $main-border-color;
        text-align: center;
        padding: 0px 20px 0px 20px;
        @extend %border-box;

        .file-uploader-input {
            position: absolute;
            width: 100%;
            height: 100% !important;
            top: 0px;
            left: 0px;
            bottom: 0px;
            right: 0px;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
        }

        .default-text {
            position: relative;
            width: 100%;
            font-size: 17px;
            font-weight: 100;
            color: #989898;
            top: 45%;
        }

        .uploading-files {
            position: relative;
            top: 35%;
            //color: $selection-color;
            font-size: 14px;

            .material-icons {
                font-size: 60px;
            }
        }

        &:hover {
            border: 1px solid $main-border-hover-color !important;
            cursor: pointer;
        }

        &.active {
            //border: 1px solid $selection-border-color;
            background-color: #f6fcff;
        }
    }
}*/
input.search-box {
  width: 200px;
  height: 28px !important;
  padding-left: 30px !important;
  padding-right: 0;
  margin-right: 1px !important;
  background-image: url("/Images/Icons/search-box-icon.png");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 8px center;
  transition: width 300ms ease-in-out; }

/**** INPUTS ****/
input:not([type=checkbox]):not([type="radio"]),
select,
textarea,
.input-container {
  font-family: "Open Sans", sans-serif;
  height: 24px;
  padding: 0px 3px 0px 3px;
  margin: 0px;
  box-sizing: border-box;
  outline: 0;
  border: 1px solid #BDBDBD;
  font-size: 12px;
  background-color: white; }
  input:not([type=checkbox]):not([type="radio"]):focus,
  select:focus,
  textarea:focus,
  .input-container:focus {
    outline: none;
    transition: all 150ms ease-in-out; }
  input:not([type=checkbox]):not([type="radio"])[date-input],
  select[date-input],
  textarea[date-input],
  .input-container[date-input] {
    background-image: url("/Images/Icons/date-input.png");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: right 5px center;
    padding-right: 24px; }
  input:not([type=checkbox]):not([type="radio"]):disabled,
  select:disabled,
  textarea:disabled,
  .input-container:disabled {
    background-color: whitesmoke; }

.input-container {
  min-height: 24px;
  height: auto;
  padding: 1px 2px 1px 2px; }
  .input-container input {
    width: 200px;
    height: 28px;
    border: none; }
  .input-container:hover {
    cursor: text; }

textarea {
  height: 100px;
  resize: vertical; }

#help-tooltip {
  position: absolute;
  background-color: white;
  z-index: 2000;
  padding: 7px 9px 7px 9px;
  border: 1px solid #D5D5D5;
  display: none;
  max-width: 400px;
  box-shadow: 0px 0px 5px #D2D2D2;
  word-wrap: break-word; }

/**** Icon ****/
.icon[ng-click] {
  opacity: 0.5; }
  .icon[ng-click]:hover {
    opacity: 1;
    cursor: pointer !important; }

.icon:before {
  color: #757575;
  font-size: 22px; }

.icon.disabled {
  opacity: 0.2; }

.icon.edit:before {
  content: "create";
  color: #07618C; }

.icon.delete:before {
  content: "delete";
  color: #AD0606; }

.icon.cancel:before {
  content: "cancel"; }

.icon.call-completed:before {
  content: "check";
  color: #4ab515;
  font-weight: bolder; }

.icon.call-delivering:before {
  content: "send";
  color: #eabc63; }

.icon.call-cancelled:before {
  content: "close";
  opacity: 0.5; }

.search-drop-down {
  position: relative;
  background-color: white; }
  .search-drop-down input {
    background-image: url("/Images/Icons/search-box-icon.png");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: right 5px center;
    padding-right: 24px !important; }
  .search-drop-down .input-container {
    position: relative;
    display: block;
    height: 28px;
    padding-right: 32px; }
    .search-drop-down .input-container .inner-container {
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      height: 28px; }
    .search-drop-down .input-container .counter {
      position: absolute;
      top: 0px;
      left: 0px;
      bottom: 0px;
      min-width: 28px;
      border-right: 1px solid #BDBDBD;
      text-align: center;
      background-color: whitesmoke;
      font-size: 12px;
      font-weight: 600;
      color: #888888;
      line-height: 25px; }
      .search-drop-down .input-container .counter .clear {
        display: none; }
      .search-drop-down .input-container .counter:hover .number {
        display: none; }
      .search-drop-down .input-container .counter:hover .clear {
        display: inline; }
    .search-drop-down .input-container.counter {
      padding-left: 32px; }
    .search-drop-down .input-container:after {
      position: absolute;
      display: block;
      right: 2px;
      top: 0px;
      font-size: 24px;
      content: "playlist_add_check";
      opacity: 0.4; }
    .search-drop-down .input-container .placeholder {
      padding-left: 3px;
      padding-top: 2px; }
    .search-drop-down .input-container:hover {
      cursor: pointer; }
  .search-drop-down .results-container {
    position: absolute;
    min-width: 100%;
    max-width: 500px;
    max-height: 240px;
    background: white;
    overflow-y: auto;
    left: 0px;
    top: 25px;
    font-size: 13px;
    z-index: 350; }
    .search-drop-down .results-container .result-row {
      display: block;
      padding: 4px 35px 4px 5px; }
      .search-drop-down .results-container .result-row .description {
        font-size: 12px;
        color: #8A8A8A; }
      .search-drop-down .results-container .result-row.hovered {
        background-color: whitesmoke;
        cursor: pointer; }
    .search-drop-down .results-container .no-result {
      display: block;
      padding: 20px 35px;
      text-align: center; }

#wait-mask {
  position: fixed;
  z-index: 9999;
  height: 100%;
  width: 100%;
  display: none; }
  #wait-mask .loading {
    position: absolute;
    top: 45%;
    left: 50%;
    /*box-shadow: 0 0 15px #E8E7E7;
        border: 1px solid #D8D8D8;*/ }
    #wait-mask .loading .loading-bar {
      display: inline-block;
      width: 5px;
      margin-right: 2px;
      height: 24px;
      border-radius: 4px;
      animation: loading 1s ease-in-out infinite; }
    #wait-mask .loading .loading-bar:nth-child(1) {
      background-color: #3498db;
      animation-delay: 0; }
    #wait-mask .loading .loading-bar:nth-child(2) {
      background-color: #c0392b;
      animation-delay: 0.09s; }
    #wait-mask .loading .loading-bar:nth-child(3) {
      background-color: #f1c40f;
      animation-delay: .18s; }
    #wait-mask .loading .loading-bar:nth-child(4) {
      background-color: #27ae60;
      animation-delay: .27s; }

@keyframes loading {
  0% {
    transform: scale(1); }
  20% {
    transform: scale(1, 2.2); }
  40% {
    transform: scale(1); } }

#login {
  height: 100%; }
  #login [ui-view] {
    margin-left: 0px;
    width: 100%;
    background-color: none;
    margin-top: 0px;
    height: 100%;
    background-color: #2d4756;
    /* fallback for old browsers */ }
  #login .error-message {
    color: #AD0606;
    margin-bottom: 10px; }
  #login .login-page {
    width: 400px;
    padding: 8% 0 0;
    margin: auto; }
  #login .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }
  #login .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px; }
  #login .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: #2d4756;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer; }
  #login .form button:hover, #login .form button:active, #login .form button:focus {
    background: black; }
  #login .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px; }
  #login .form .message a {
    color: #4CAF50;
    text-decoration: none; }
  #login .form .register-form {
    display: none; }
  #login .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto; }
  #login .container:before, #login .container:after {
    content: "";
    display: block;
    clear: both; }
  #login .container .info {
    margin: 50px auto;
    text-align: center; }
  #login .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a; }
  #login .container .info span {
    color: #4d4d4d;
    font-size: 12px; }
  #login .container .info span a {
    color: #000000;
    text-decoration: none; }
  #login .container .info span .fa {
    color: #EF3B3A; }

.overflow-visible {
  overflow: visible !important; }

.commodities-edit .edit-container {
  position: absolute;
  min-width: 100%;
  max-width: 500px;
  max-height: 240px;
  overflow-y: auto;
  left: 0px;
  top: 25px;
  background-color: white;
  z-index: 350; }
  .commodities-edit .edit-container .edit-row {
    padding: 4px 10px; }
    .commodities-edit .edit-container .edit-row .item-name {
      font-weight: bold;
      font-size: 14px;
      padding-right: 5px; }
    .commodities-edit .edit-container .edit-row .minus,
    .commodities-edit .edit-container .edit-row .plus {
      position: relative;
      top: 5px;
      opacity: 0.3; }
      .commodities-edit .edit-container .edit-row .minus:after,
      .commodities-edit .edit-container .edit-row .plus:after {
        font-size: 22px; }
      .commodities-edit .edit-container .edit-row .minus:hover,
      .commodities-edit .edit-container .edit-row .plus:hover {
        cursor: pointer;
        opacity: 1; }
      .commodities-edit .edit-container .edit-row .minus.minus:after,
      .commodities-edit .edit-container .edit-row .plus.minus:after {
        content: "do_not_disturb_on"; }
      .commodities-edit .edit-container .edit-row .minus.plus:after,
      .commodities-edit .edit-container .edit-row .plus.plus:after {
        content: "add_circle"; }
    .commodities-edit .edit-container .edit-row .quantity {
      padding-left: 5px;
      padding-right: 5px;
      font-size: 16px; }

.commodities-edit input {
  position: absolute;
  opacity: 0; }

.center-content {
  text-align: center !important; }

.right-content {
  text-align: right !important; }

.left-content {
  text-align: left !important; }

/**** VALIDATIONS ****/
.field-validation-error {
  display: none;
  font-weight: bold;
  color: #AD0606;
  font-size: 13px; }
  .field-validation-error:not(.ng-hide) ~ input:not([type=checkbox]):not([type=radio]),
  .field-validation-error:not(.ng-hide) ~ select,
  .field-validation-error:not(.ng-hide) ~ textarea {
    border: 1px solid #B30F0F !important;
    background-color: #FFF2F2; }
  .field-validation-error:not(.ng-hide) ~ .search-drop-down input:not(:disabled),
  .field-validation-error:not(.ng-hide) ~ .search-drop-down .input-container:not(:disabled) {
    border: 1px solid #B30F0F;
    background-color: #FFF2F2; }
  .field-validation-error:not(.ng-hide) ~ [commodities-edit] .input-container {
    border: 1px solid #B30F0F !important;
    background-color: #FFF2F2 !important; }

#validation-tooltip {
  position: absolute;
  background-color: #AD0606;
  padding: 5px 10px 5px 10px;
  color: white;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  max-width: 200px;
  z-index: 2000;
  word-wrap: break-word;
  display: none; }
  #validation-tooltip:before {
    position: absolute;
    display: block;
    content: "";
    left: 0px;
    bottom: -15px;
    width: 0;
    height: 10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #A50202; }

.invisible {
  visibility: hidden; }

.left {
  float: left; }

.right {
  float: right; }

.fit-height {
  height: 100%; }

#import {
  height: 100%; }
  #import .form {
    float: left;
    width: 30%;
    padding-right: 20px;
    height: 100%; }
    #import .form dl {
      height: 100%; }
      #import .form dl dd {
        height: 100%; }
        #import .form dl dd textarea {
          height: 100%; }
  #import .results-container {
    float: right;
    width: 70%;
    padding: 20px;
    border: 1px solid #BDBDBD;
    height: 100%;
    overflow: auto; }
    #import .results-container .company-container {
      margin-bottom: 20px; }
      #import .results-container .company-container .title {
        font-size: 34px;
        font-weight: bold;
        margin-bottom: 10px; }
      #import .results-container .company-container .phone-number-container {
        width: 33%;
        float: left;
        margin: 10px 0px; }
        #import .results-container .company-container .phone-number-container .phone-number {
          font-size: 28px; }
        #import .results-container .company-container .phone-number-container .phone-company {
          font-size: 16px; }

.disabled,
:disabled {
  opacity: 0.5;
  pointer-events: none; }

#finance .panels {
  display: flex;
  width: 100%; }
  #finance .panels .panel {
    flex-grow: 1;
    flex-basis: 0;
    height: 150px;
    border: 1px solid #e0e0e0;
    background-color: whitesmoke;
    text-align: center;
    margin-right: 20px; }
    #finance .panels .panel .content {
      font-size: 30px; }

