@import "MaterialIcons/material-icons.scss";

$main-font: 'Open Sans', sans-serif;
$main-font-color: black;
$light-font-color: #b9b9b9;
$main-color: #2d4756;

$advanced-search-z-index: 300;
$dialog-z-index: 300;
$search-drop-down-z-index: 350;
$notification-message-z-index: 450;
$main-menu-z-index: 1000;
$secondary-menu-z-index: 1000;
$tooltip-box-z-index: 1800;
$session-warning-z-index: 2000;
$wait-mask-z-index: 9999;

$main-border-color: #BDBDBD;
$main-border-hover-color: #b5b5b5;
$light-border-color: #e0e0e0;

$error-color: #AD0606;
$error-border-color: #B30F0F;
$error-hover-color: #8C0505;

$active-color: #059811;
$app-min-width: 1280px;

@mixin transition($param) {
    -webkit-transition: $param;
    -moz-transition: $param;
    -o-transition: $param;
    transition: $param;
}

@mixin opacity($param) {
    opacity: $param;
}

@mixin box-shadow($param) {
    -webkit-box-shadow: $param;
    -moz-box-shadow: $param;
    box-shadow: $param;
}

%main-box-shadow {
    @include box-shadow(0px 0px 2px #E2E2E2);
}

%prevent-user-select {
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
}

%border-box {
    -webkit-box-sizing: border-box; /* Chrome all / Safari all */
    -moz-box-sizing: border-box; /* Firefox all */
    -ms-box-sizing: border-box; /* IE 10+ */
    box-sizing: border-box; /* Likely future */
}

%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

%ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ellipsis {
    @extend %ellipsis;
}


html, body {
    position: relative;
    padding: 0px !important;
    margin: 0px !important;
    height: 100%;
    overflow: hidden;
}

body {
    overflow-y: auto;
    font-family: $main-font;
    font-weight: 400;
    font-size: 13px;
}

$main-menu-height: 50px;

#main-menu {
    position: fixed;
    background-color: $main-color;
    width: 100%;
    height: $main-menu-height;
    font-weight: 300;
    letter-spacing: -0px;
    z-index: $main-menu-z-index;
    @extend %clearfix;

    .menu-body {
        position: relative;
        width: 100%;
        height: 100%;
        /*border-bottom: 1px solid #385a6d;
        border-top: 1px solid #263a46;*/
        @extend %clearfix;

        .menu-item {
            position: relative;
            display: inline-block;
            color: whitesmoke;
            text-decoration: none;
            padding: 10px 15px;
            font-weight: 700;
            @extend %border-box;
            border-left: 1px solid #385a6d;
            border-right: 1px solid #263a46;
            float: left;
            height: 100%;

            .menu-item-inner {
                @include opacity(0.7);
            }

            .material-icons {
                position: relative;
                top: 5px;
                font-size: 20px;
            }

            .text {
                font-size: 12px;
                text-transform: uppercase;
            }

            &:hover {
                cursor: pointer;

                .menu-item-inner {
                    @include opacity(1);
                    @include transition(opacity 500ms);
                }

                .sub-menu {
                    display: block;
                }
            }

            &.selected {
                .menu-item-inner {
                    @include opacity(1);
                }
            }

            .sub-menu {
                position: absolute;
                display: none;
                top: $main-menu-height;
                left: 0px;
                //left: $main-menu-width;
                //min-width: 100%;
                /*.padder {
                    position: relative;
                    left: 37px;
                    top: 1px;
                    width: 0;
                    height: 10px;
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;
                    border-bottom: 7px solid #11506F;
                }*/
                .sub-menu-body {
                    background-color: $main-color;
                    //box-shadow: inset 0px 0px 50px #11506F;
                    padding: 15px 15px 15px 15px;
                    text-align: left;
                    white-space: nowrap;

                    .sub-menu-item {
                        display: block;
                        opacity: 0.75;
                        color: white;
                        text-decoration: none;
                        padding: 4px 0px;

                        &:hover {
                            opacity: 1;
                        }

                        &.selected {
                            opacity: 1;
                        }
                    }
                }

                &:hover {
                    cursor: auto;
                }

                &:before {
                    position: relative;
                    top: 1px;
                    left: 40%;
                    display: block;
                    height: 10px;
                    width: 1px;
                    content: "";
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;
                    border-bottom: 7px solid $main-color;
                }
            }
        }
    }
}

$secondary-menu-height: 42px;

.secondary-menu {
    position: fixed;
    width: 100%;
    //width: calc((100%) - (#{$main-menu-width}));
    //min-width: calc((#{$app-min-width}) - (#{$main-menu-width}));
    height: $secondary-menu-height;
    background-color: whitesmoke;
    //margin-left: $main-menu-width;
    top: $main-menu-height;
    //left: $main-menu-width;
    right: 0px;
    @extend %border-box;
    z-index: $secondary-menu-z-index;
    border-bottom: 1px solid #ececec;
    //padding-top: 5px;
    $padding: 8px 10px 0px 10px;
    $title-container-width: 150px;

    .title-container {
        background-color: #efefef;
        float: left;
        //width: $title-container-width;
        height: 100%;
        @extend %border-box;
        padding: $padding;

        .title {
            display: inline-block;
            font-size: 20px;
            text-transform: uppercase;
        }

        .list-total {
            display: inline-block;
            font-size: 11px;
            color: $light-font-color;
        }
    }

    .filters-container {
        float: left;
        //margin-left: $title-container-width;
        padding: $padding;

        .search {
            display: inline-block;
        }

        [advanced-search] {
            position: relative;
            display: inline-block;
            vertical-align: top;

            .criteria-container {
                position: fixed;
                padding: 25px 30px;
                max-width: 1100px;
                left: 20px;
                margin-top: 30px;
                @include box-shadow(0px 0px 5px #e0dfdf);
                background-color: white;
                border: 1px solid #d0d0d0;
                z-index: $advanced-search-z-index;

                .buttons-container {
                    min-width: 300px;
                    margin-top: 30px;
                    text-align: right;
                }

                &:before {
                    display: block;
                    position: fixed;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    content: "";
                }
            }
        }

        [simple-search] {
            position: relative;
            display: inline-block;
            vertical-align: top;
            margin-right: 3px;

            input {
                width: 200px;
                padding-left: 30px !important;
                padding-right: 0;
                margin-right: -4px !important;
                background-image: url('/Images/Icons/search-box-icon.png');
                background-size: 16px 16px;
                background-repeat: no-repeat;
                background-position: 8px center;
                transition: width 300ms ease-in-out;
            }

            button {
                min-width: 0px !important;
                border-left: none;
            }
        }

        input,
        select {
            height: 28px !important;
        }
    }

    .buttons {
        padding: $padding;
    }
}

.buttons {
    float: right;
}

@keyframes ui-view-in {
    from {
        transform: translateX(300px);
        //opacity: 0.8;
    }

    to {
        transform: translateX(0px);
        //opacity: 1;
    }

    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }
}

@keyframes ui-view-out {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(300px);
    }

    30% {
        opacity: 1;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

$ui-view-top-padding: $main-menu-height + $secondary-menu-height;

[ui-view] {
    position: fixed;
    width: 100%;
    //display: flex;
    //min-width: calc((#{$app-min-width}) - (#{$main-menu-width}));
    top: 0;
    left: 0;
    //width: calc((100%) - (#{$main-menu-width}));
    //margin-top: $main-menu-height;
    //height: calc((100%) - (#{$secondary-menu-height}));
    height: 100%;
    padding-top: calc(#{$ui-view-top-padding});
    //margin-left: $main-menu-width;
    background-color: white;
    @extend %border-box;

    [ui-view] { // only children ui-view will get animated
        &.ng-enter {
            animation: 400ms ui-view-in ease-in-out;
        }

        &.ng-leave {
            animation: 300ms ui-view-out ease-out;
        }

        &:empty {
            display: none;
        }
    }
}

.container {
    position: relative;
    height: 100%;
    overflow: auto;
    @extend %border-box;
    padding: 20px 30px;

    .button.delete {
        position: absolute;
        right: 10px;
        bottom: 20px;
    }
}

/**** DIALOG ****/
[dialog] {
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: $dialog-z-index;
    text-align: center;
    background-color: rgba(0, 21, 31, 0.7);
    overflow: auto;

    .outer {
        display: table;
        width: 100%;
        height: 100%;

        .inner {
            display: table-cell;
            vertical-align: middle;

            .box {
                display: inline-block;
                //max-width: 1000px;
                padding: 0px;
                border-radius: 0px;
                //border: 1px solid #93999C;
                background: white;
                text-align: left;
                max-width: 1280px;
                //margin: 0px 20px 0px 20px;
                .dialog-title {
                    background-color: $main-color;
                    border-radius: 0px;
                    border: 0px;
                    color: white;
                    padding: 7px 10px 7px 10px;
                    font-size: 15px;
                    font-weight: bold;
                    text-transform: uppercase;

                    .ui-dialog-titlebar-close {
                        display: none;
                    }
                }

                .dialog-content {
                    position: relative;
                    padding: 12px 25px 12px 25px !important;
                    max-height: 480px;
                    overflow: auto;
                }

                .dialog-footer {
                    padding: 10px 25px 10px 25px;
                    border-top: 1px solid #DADADA;
                    background-color: whitesmoke;
                    text-align: right;

                    .message {
                        margin-right: 15px;
                    }

                    .saving-error.icon {
                        top: 3px;
                        right: 4px;
                    }
                }
            }
        }
    }

    &.fixed-width {
        .box {
            width: 1000px;
        }
    }
}

/**** SESSION WARNING ****/
#session-warning {
    display: none;
    z-index: $session-warning-z-index;

    .inner {
        position: relative;
        vertical-align: top;

        .box {
            margin-top: 100px;

            .time-left-wrapper {
                margin: 5px 0px 8px 0px;

                .time-left {
                    font-size: 14px;
                    font-weight: bold;
                }
            }
        }
    }
}


/**** LIST AND TABLE ****/
.list-container {
    display: flex;
    flex-flow: column;
    //margin-bottom: 20px;
    height: 100%;
    @extend %border-box;

    ng-transclude {
        width: 100%;
    }

    table {
        display: flex;
        flex-flow: column;
        align-items: stretch;
        border-collapse: collapse;
        border: 1px solid $light-border-color;
        height: 100%;
        width: 100%;

        thead {
            width: calc((100%) - (18px)) !important; //offset scrollbar
            border-bottom: 1px solid $light-border-color;

            tr {
                text-transform: uppercase;
                font-size: 12px;

                th {
                    text-align: left;
                    padding: 10px 5px;

                    a {
                        position: relative;
                        display: inline-block;
                        margin-right: 15px;
                        @extend %prevent-user-select;

                        .sort-asc-icon:after,
                        .sort-desc-icon:after {
                            @extend %material-icons;
                            position: absolute;
                            display: flex;
                            font-size: 26px;
                            opacity: 0.15;
                            line-height: 80%;
                            margin-right: -5px;
                            right: -18px;
                            top: 0px;
                            bottom: 0px;
                            align-items: center;
                        }

                        .sort-asc-icon:after {
                            content: "arrow_drop_up";
                            margin-bottom: 6px;
                        }

                        .sort-desc-icon:after {
                            content: "arrow_drop_down";
                            margin-top: 6px;
                        }

                        .sort-asc-icon.sorted-asc:after {
                            @include opacity(0.8);
                        }

                        .sort-desc-icon.sorted-desc:after {
                            @include opacity(0.8);
                        }

                        .sort-column-order {
                            position: absolute;
                            display: flex;
                            align-items: center;
                            right: -25px;
                            top: 0px;
                            bottom: 0px;
                            font-size: 11px;
                            @include opacity(0.25);
                        }

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        tbody {
            display: block;
            position: relative;
            height: 100%;
            min-height: 80px;
            overflow-y: scroll;

            tr {
                @include transition(background-color 300ms ease-in-out);
                height: 34px;

                &:hover {
                    background-color: whitesmoke;
                }

                td {
                    padding: 0px 5px;
                    font-size: 100%;
                    vertical-align: middle;

                    dl {
                        margin: 0px;
                        padding: 0px;
                        display: inline-block;
                        vertical-align: middle;
                        width: 100%;

                        dd {
                            font-size: inherit;
                            min-height: 0px;
                            padding: 0px;

                            input[date-input] {
                                width: 100px !important;
                            }
                        }
                    }

                    [phone-company-tag] {
                        top: -1px;
                        margin-left: 4px;
                    }
                }

                &.total {
                    font-weight: bold;
                }
            }

            .has-more-items {
                display: block;
                position: relative;
                width: 100%;
                padding-top: 50px;
                height: 150px;
                text-align: center;
                color: #BFBFBF;
                font-size: 24px;

                &:hover {
                    cursor: pointer;
                }
            }

            .empty-info {
                display: block;
                position: relative;
                width: 100%;
                padding-top: 50px;
                height: 150px;
                text-align: center;
                color: #BFBFBF;
                font-size: 24px;
            }
        }

        thead, tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }

        td, th {
            @extend %border-box;

            &.number {
                width: 50px;
            }

            &.action {
                width: 100px;
                text-align: center;
            }

            &.address {
                width: 200px;
            }

            &.commodities {
                width: 200px;
            }

            &.date-time {
                width: 140px;
            }

            &.thd-XS {
                width: 60px;
            }

            &.thd-S {
                width: 80px;
            }

            &.thd-M {
                width: 120px;
            }

            &.thd-L {
                width: 160px;
            }
        }

        .icon {
            position: relative;
            display: inline-block;
            //top: 4px;
        }
    }

    .total {
        font-weight: bold;
        text-align: right;
        padding-right: 6px;
        font-size: 15px;
        padding-top: 3px;
    }
}

.list-container.grid {
    display: block;
    height: auto;
    margin-bottom: 20px;

    table {
        thead {
            width: 100% !important;
        }

        tbody {
            overflow: auto;

            tr:not(:last-child) {
                border-bottom: 1px solid $light-border-color;
            }
        }

        th, td {
            border: $light-border-color;
        }
    }
}

.deletingEntry {
    background-color: #FFE8E8 !important;

    > :not(.action):not(.action-buttons):not(.icon) {
        opacity: 0.4;
    }
}

.button,
.dropdown button {
    position: relative;
    display: inline-block;
    font-family: $main-font;
    font-weight: bold;
    text-transform: uppercase;
    min-width: 60px;
    height: 28px;
    background-color: white;
    outline: none;
    border: 1px solid #C5C5C5;
    padding: 0px 5px;
    text-align: center;
    color: $main-color;
    //vertical-align: middle;
    text-decoration: none;
    font-size: 11px;

    @include transition(background-color 200ms linear);
    @extend %border-box;


    &.main {
        border: 1px solid black;
        background-color: #2d4756;
        color: whitesmoke;

        &:hover {
            background-color: black;
        }
    }

    &.delete {
        background-color: $error-color;
        border: 1px solid $error-border-color;
        color: white;

        &:hover {
            background-color: $error-hover-color;
        }
    }

    &.disabled,
    &:disabled {
        @include opacity(0.5);
        pointer-events: none;
    }

    &:hover {
        background-color: whitesmoke;
        cursor: pointer;
    }
}

.open > .dropdown-menu {
    display: block;
}
/**** DL DT DD ****/
dl {
    position: relative;
    width: 240px;
    padding: 0px;
    margin: 0px 0px 8px 0px;
    //min-height: 48px;
    dt {
        position: relative;
        width: 100%;
        padding: 0px 0px 0px 0px;
        margin: 0px;
        text-align: left;
        font-size: 12px;
        text-transform: uppercase;
        height: 18px;
        color: #717171;

        .help {
            position: relative;
            left: 1px;
            top: -2px;
        }

        .required:after {
            content: " *";
            color: $error-color;
        }

        @extend %ellipsis;
    }

    dd {
        position: relative;
        width: 100%;
        min-height: 30px;
        padding: 0px 10px 0px 0px;
        margin: 0px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        word-break: break-all;
        color: black;

        @extend %ellipsis;
        @extend %border-box;

        input:not([type=checkbox]):not([type="radio"]),
        select,
        textarea {
            width: 100%;
        }

        .input-container {
            width: 100%;
            white-space: normal;
        }

        &.thin {
            font-weight: 400;
        }

        &.expandable {
            text-overflow: none;
            white-space: normal;
        }

        input[type=radio] + label {
            font-weight: 100;
            font-size: 15px;
        }

        &:blank:after {
            content: "--";
        }
    }

    &.flat {
        margin: 0px;

        dd {
            min-height: auto;
            margin: 0px;
        }
    }

    &.dl-full {
        width: 100%;
    }

    &.dl-half {
        width: 50%;
    }

    &.dl-auto {
        width: auto;
    }

    &.dl-XXXXS {
        width: 30px;
    }


    &.dl-XXXS {
        width: 60px;
    }

    &.dl-XXS {
        width: 90px;
    }

    &.dl-XS {
        width: 120px;
    }

    &.dl-S {
        width: 180px;
    }

    &.dl-M {
        width: 240px;
    }

    &.dl-L {
        width: 300px;
    }

    &.dl-XL {
        width: 360px;
    }

    &.dl-XXL {
        width: 420px;
    }

    &.dl-XXXL {
        width: 480px;
    }

    &.dl-XXXXL {
        width: 540px;
    }
}

section {
    @extend %clearfix;

    dl {
        float: left;
    }
}

.file-uploader-input {
    opacity: 0;
}

input.search-box {
    width: 200px;
    padding-left: 30px !important;
    padding-right: 0;
    margin-right: 1px !important;
    background-image: url('/Images/Icons/search-box-icon.png');
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 8px center;
    transition: width 300ms ease-in-out;

    &:focus {
        //width: 300px;
    }
}
/**** INPUTS ****/
input:not([type=checkbox]):not([type="radio"]),
select,
textarea,
.input-container {
    font-family: $main-font;
    height: 24px;
    padding: 0px 3px 0px 3px;
    margin: 0px;
    box-sizing: border-box;
    outline: 0;
    border: 1px solid #BDBDBD;
    font-size: 12px;
    background-color: white;

    &:focus {
        outline: none;
        //border: 1px solid $selection-color;
        transition: all 150ms ease-in-out;
    }

    &[date-input] {
        background-image: url('/Images/Icons/date-input.png');
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: right 5px center;
        padding-right: 24px;
    }

    &:disabled {
        background-color: whitesmoke;
    }
}

.input-container {
    min-height: 24px;
    height: auto;
    padding: 1px 2px 1px 2px;

    input {
        width: 200px;
        height: 28px;
        border: none;
    }

    &:hover {
        cursor: text;
    }
}

textarea {
    height: 100px;
    //max-height: 500px;
    resize: vertical;
}

#help-tooltip {
    position: absolute;
    background-color: white;
    z-index: $tooltip-box-z-index;
    padding: 7px 9px 7px 9px;
    border: 1px solid #D5D5D5;
    display: none;
    max-width: 400px;
    box-shadow: 0px 0px 5px #D2D2D2;
    word-wrap: break-word;
}
/**** Icon ****/
.icon {
    &[ng-click] {
        opacity: 0.5;

        &:hover {
            opacity: 1;
            cursor: pointer !important;
        }
    }

    &:before {
        @extend %material-icons;
        color: #757575;
        font-size: 22px;
    }

    &.disabled {
        opacity: 0.2;
    }

    &.edit:before {
        content: "create";
        color: #07618C;
    }

    &.delete:before {
        content: "delete";
        color: $error-color;
    }

    &.cancel:before {
        content: "cancel";
    }

    &.invoice-sold:before {
        content: "check";
        color: #4ab515;
        font-weight: bolder;
    }

    &.invoice-cancelled:before {
        content: "close";
        opacity: 0.5;
    }

    &.call-sent-to-call-center:before {
        content: "record_voice_over";
        color: #4ab515;
    }

    &.finance-daily-form:before {
        content: "receipt";
    }
}

button.icon {
    background-color: white;
    border: 1px solid #C5C5C5;
    outline: none;
    height: 22px;
    top: -1px;

    //width: 34px;
    &:not(:disabled):hover {
        background-color: whitesmoke;
        border: 1px solid $main-border-color;
        cursor: pointer;
    }

    &:disabled:hover {
        cursor: default;
    }

    &.icon {
        &:before {
            font-size: 18px;
        }
    }
}

.search-drop-down {
    position: relative;
    background-color: white;

    input {
        background-image: url('/Images/Icons/search-box-icon.png');
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: right 5px center;
        padding-right: 24px !important;
    }

    .input-container {
        position: relative;
        display: block;
        height: 28px;
        padding-right: 32px;
        @extend %border-box;

        .inner-container {
            position: relative;
            white-space: nowrap;
            overflow: hidden;
            width: 100%;
            height: 28px;
        }

        .counter {
            position: absolute;
            top: 0px;
            left: 0px;
            bottom: 0px;
            min-width: 28px;
            border-right: 1px solid #BDBDBD;
            text-align: center;
            background-color: whitesmoke;
            font-size: 12px;
            font-weight: 600;
            color: #888888;
            line-height: 25px;

            .clear {
                display: none;
            }

            &:hover {
                .number {
                    display: none;
                }

                .clear {
                    display: inline;
                }
            }
        }

        &.counter {
            padding-left: 32px;
        }

        &:after {
            @extend %material-icons;
            position: absolute;
            display: block;
            right: 2px;
            top: 0px;
            font-size: 24px;
            content: "playlist_add_check";
            opacity: 0.4;
        }

        .placeholder {
            padding-left: 3px;
            padding-top: 2px;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .results-container {
        position: absolute;
        min-width: 100%;
        max-width: 500px;
        max-height: 240px;
        background: white;
        overflow-y: auto;
        left: 0px;
        top: 25px;
        font-size: 13px;
        z-index: $search-drop-down-z-index;
        @extend %main-box-shadow;
        @extend %border-box;

        .result-row {
            display: block;
            padding: 4px 35px 4px 5px;
            @extend %border-box;

            .description {
                font-size: 12px;
                color: #8A8A8A;
            }

            &.hovered {
                background-color: whitesmoke;
                cursor: pointer;
            }
        }

        .no-result {
            display: block;
            padding: 20px 35px;
            text-align: center;
        }
    }
}

#wait-mask {
    position: fixed;
    z-index: $wait-mask-z-index;
    height: 100%;
    width: 100%;
    //cursor: wait;
    display: none;
    text-align: center;

    .loading {
        position: relative;
        top: 45%;
        padding: 20px 22px;
        background-color: white;
        margin: 0 auto;
        box-shadow: 0 0 15px #E8E7E7;
        border: 1px solid #D8D8D8;
        display: inline-block;
        /*box-shadow: 0 0 15px #E8E7E7;
        border: 1px solid #D8D8D8;*/
        .loading-bar {
            position: relative;
            display: inline-block;
            width: 6px;
            margin-right: 2px;
            height: 21px;
            //border-radius: 4px;
            animation: loading 1s ease-in-out infinite;
        }

        .loading-bar:nth-child(1) {
            background-color: #68abcc;
            animation-delay: 0;
        }

        .loading-bar:nth-child(2) {
            background-color: #3a9ac7;
            animation-delay: 0.09s;
        }

        .loading-bar:nth-child(3) {
            background-color: #2d7fa7;
            animation-delay: .18s;
        }

        .loading-bar:nth-child(4) {
            background-color: #07618c;
            animation-delay: .27s;
        }

        @keyframes loading {
            0% {
                transform: scale(1);
            }

            20% {
                transform: scale(1, 2.2);
            }

            40% {
                transform: scale(1);
            }
        }
    }
}

#login {
    height: 100%;

    [ui-view] {
        //position: relative;
        display: block;
        margin-left: 0px;
        width: 100%;
        background-color: none;
        margin-top: 0px;
        height: 100%;
        background-color: $main-color; /* fallback for old browsers */
    }

    .error-message {
        color: $error-color;
        margin-bottom: 10px;
    }

    .login-page {
        width: 400px;
        padding: 8% 0 0;
        margin: auto;
    }

    .form {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 360px;
        margin: 0 auto 100px;
        padding: 45px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

    .form input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }

    .form button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background-color: $main-color;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
    }

    .form button:hover, .form button:active, .form button:focus {
        background: black;
    }

    .form .message {
        margin: 15px 0 0;
        color: #b3b3b3;
        font-size: 12px;
    }

    .form .message a {
        color: #4CAF50;
        text-decoration: none;
    }

    .form .register-form {
        display: none;
    }

    .container {
        position: relative;
        z-index: 1;
        max-width: 300px;
        margin: 0 auto;
    }

    .container:before, .container:after {
        content: "";
        display: block;
        clear: both;
    }

    .container .info {
        margin: 50px auto;
        text-align: center;
    }

    .container .info h1 {
        margin: 0 0 15px;
        padding: 0;
        font-size: 36px;
        font-weight: 300;
        color: #1a1a1a;
    }

    .container .info span {
        color: #4d4d4d;
        font-size: 12px;
    }

    .container .info span a {
        color: #000000;
        text-decoration: none;
    }

    .container .info span .fa {
        color: #EF3B3A;
    }
}

.overflow-visible {
    overflow: visible !important;
}

.commodities-edit {
    .view-container {
    }

    .edit-container {
        position: absolute;
        min-width: 100%;
        max-width: 500px;
        max-height: 240px;
        overflow-y: auto;
        left: 0px;
        top: 25px;
        background-color: white;
        z-index: $search-drop-down-z-index;
        @extend %main-box-shadow;
        @extend %border-box;
        @extend %prevent-user-select;

        .edit-row {
            padding: 4px 10px;

            .item-name {
                font-weight: bold;
                font-size: 14px;
                padding-right: 5px;
            }

            .minus,
            .plus {
                position: relative;
                top: 5px;
                @include opacity(0.3);

                &:after {
                    @extend %material-icons;
                    font-size: 22px;
                }

                &:hover {
                    cursor: pointer;
                    @include opacity(1);
                }

                &.minus {
                    &:after {
                        @extend %material-icons;
                        content: "do_not_disturb_on";
                    }
                }

                &.plus {
                    &:after {
                        @extend %material-icons;
                        content: "add_circle";
                    }
                }
            }

            .quantity {
                padding-left: 5px;
                padding-right: 5px;
                font-size: 16px;
            }
        }
    }

    input {
        position: absolute;
        @include opacity(0);
    }
}

.center-content {
    text-align: center !important;
}

.right-content {
    text-align: right !important;
}

.left-content {
    text-align: left !important;
}
/**** VALIDATIONS ****/
.field-validation-error {
    display: none;
    font-weight: bold;
    color: $error-color;
    font-size: 13px;

    &:not(.ng-hide) {
        ~ input:not([type=checkbox]):not([type=radio]),
        ~ select,
        ~ textarea,
        {
            border: 1px solid #B30F0F !important;
            background-color: #FFF2F2;
        }
        // for drop down search
        ~ .search-drop-down input,
        ~ .search-drop-down .input-container {
            &:not(:disabled) {
                border: 1px solid #B30F0F;
                background-color: #FFF2F2;
            }
        }
        // for commodities edit (probably for this application only)
        ~ [commodities-edit] .input-container {
            border: 1px solid #B30F0F !important;
            background-color: #FFF2F2 !important;
        }
    }
}

#validation-tooltip {
    position: absolute;
    background-color: $error-color;
    padding: 5px 10px 5px 10px;
    color: white;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    max-width: 200px;
    z-index: $tooltip-box-z-index;
    word-wrap: break-word;
    display: none;

    &:before {
        position: absolute;
        display: block;
        content: "";
        left: 0px;
        bottom: -15px;
        width: 0;
        height: 10px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #A50202;
    }
}

.invisible {
    visibility: hidden;
}

.left {
    float: left;
}

.right {
    float: right;
}

.fit-height {
    height: 100%;
}

#import {
    height: 100%;

    .form {
        float: left;
        width: 30%;
        padding-right: 20px;
        @extend %border-box;
        height: 100%;

        dl {
            height: 100%;

            dd {
                height: 100%;

                textarea {
                    height: 100%;
                }
            }
        }
    }

    .results-container {
        float: right;
        width: 70%;
        @extend %border-box;
        padding: 20px;
        border: 1px solid $main-border-color;
        height: 100%;
        overflow: auto;

        .company-container {
            @extend %clearfix;
            margin-bottom: 20px;

            .title {
                font-size: 34px;
                font-weight: bold;
                margin-bottom: 10px;
            }

            .phone-number-container {
                width: 33%;
                float: left;
                margin: 10px 0px;

                .phone-number {
                    font-size: 28px;
                }

                .phone-company {
                    font-size: 16px;
                }
            }
        }
    }
}

.disabled,
:disabled {
    opacity: 0.5;
    pointer-events: none;
}

#finance {
    .results-for-dates {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .panels {
        display: flex;
        //align-items: stretch;
        //flex-basis: 0;
        width: 100%;
        margin-bottom: 20px;

        .panel {
            //width: 50px;
            flex-grow: 1;
            flex-basis: 0;
            height: 120px;
            border: 1px solid $light-border-color;
            background-color: whitesmoke;
            text-align: center;
            margin-right: 8px;
            @extend %main-box-shadow;

            &:not(:last-child) {
                //border-right: none;
            }

            .content {
                margin-top: 20px;
                font-size: 26px;
            }

            &.profit {
                .content {
                    color: $active-color;
                    font-weight: 600;
                }
            }

            &.expense {
                .content {
                    color: $error-color;
                    font-weight: 600;
                }
            }
        }
    }
}

.title {
    font-size: 20px;
    margin-bottom: 5px;
}


.chart {
    position: relative;
    margin-bottom: 50px;
    //height: 300px;
    //max-height: 300px;
    .title {
        margin-bottom: 20px;
    }

    .chart-wrapper {
        //height: 300px;
        //height: 300px;
    }
}

#expense-list {
    .zero-or-negative {
        color: $error-color;
        font-weight: bold;
    }

    .expense {
        //font-weight: bold;
    }
}

[ng-click] {
    &:hover {
        cursor: pointer;
    }
}

#notification-message {
    position: fixed;
    left: 50%;
    top: 85px;
    z-index: $notification-message-z-index;
    display: none;

    .wrapper {
        position: relative;
        display: table;
        left: -50%;
        color: white;
        background-color: #57B757;
        padding: 5px 15px 14px 10px;
        font-size: 16px;

        .icon {
            position: relative;
            display: table-cell;
            vertical-align: middle;
            top: 2px;

            &:before {
                position: relative;
                @extend %material-icons;
                content: "check_circle";
                font-size: 30px;
                top: 4px;
                margin-right: 4px;
                color: white;
            }
        }

        .content {
            display: table-cell;
            vertical-align: middle;
            padding: 8px 5px 0px 10px;
        }

        .close {
            position: relative;
            display: table-cell;
            vertical-align: middle;
            top: 8px;

            &:after {
                position: relative;
                @extend %material-icons;
                margin-left: 4px;
                content: "cancel";
                font-size: 16px;
                top: -3px;
                opacity: 0.8;
            }

            &:hover:after {
                opacity: 1;
                cursor: pointer;
            }
        }
    }

    &.warning {
        .wrapper {
            background-color: #A1B91C;

            .icon:before {
                content: "warning";
            }
        }
    }

    &.error {
        .wrapper {
            background-color: $error-color;

            .icon:before {
                content: "error";
            }
        }
    }
}

.sub-total-row {
    font-weight: bold;
    border-top: 1px solid $light-border-color;
    border-bottom: 1px solid $light-border-color;
    background-color: whitesmoke;
}

#finance-daily-summary {
    .content-container {
        width: 800px;
        margin: 0 auto;

        .summary-header {
            text-align: center;

            .title {
                font-size: 24px;
                font-weight: bold;
            }

            .date {
                font-size: 16px;
            }

            margin-bottom: 20px;
        }

        .signatures-container {
            width: 100%;
            display: flex;

            .signature {
                flex-grow: 1;
                flex-basis: 0;

                .title {
                    float: left;
                    font-size: 16px;
                    margin-bottom: 0px;
                }
            }
        }
    }

    .total {
        &.revenue {
            color: $active-color;
        }

        &.expense {
            color: $error-color;
        }
    }
}

.buttons-container {
    text-align: right;
}

[phone-company-tag] {
    position: relative;
    margin-left: 2px;
    @include opacity(0.85);

    .inner {
        //border: 1px solid $light-border-color;
        padding: 1px 4px;
        background-color: lightgray;
        font-size: 10px;
        font-weight: bold;
        border-radius: 4px;

        &.smart {
            background-color: #009432;
            color: white;
        }

        &.metFone {
            background-color: #088e75;
            color: white;
        }

        &.cellCard {
            background-color: #ff6501;
            color: white;
        }
    }
}