@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(MaterialIcons-Regular.woff2) format("woff2"), url(MaterialIcons-Regular.woff) format("woff"), url(MaterialIcons-Regular.ttf) format("truetype"); }
.material-icons, .list-container .table table thead th a.sortable:before {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.list-container .table {
  box-shadow: 0px 0px 5px #E2E2E2; }

.list-container .header, .list-container .table table th.checkbox-wrapper,
.list-container .table table td.checkbox-wrapper, .list-container .table table thead th {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */ }

#main-menu .menu-body .menu-item, .list-container .table table th.checkbox-wrapper,
.list-container .table table td.checkbox-wrapper {
  -webkit-box-sizing: border-box;
  /* Chrome all / Safari all */
  -moz-box-sizing: border-box;
  /* Firefox all */
  -ms-box-sizing: border-box;
  /* IE 10+ */
  box-sizing: border-box;
  /* Likely future */ }

.list-container .header:after {
  content: "";
  display: table;
  clear: both; }

html, body {
  position: relative;
  padding: 0px !important;
  margin: 0px !important;
  height: 100%;
  overflow: hidden; }

body {
  overflow-y: auto;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px; }

#main-menu {
  position: fixed;
  background-color: #2d4756;
  width: 150px;
  height: 100%;
  font-weight: 300;
  letter-spacing: -0px; }
  #main-menu .menu-body {
    position: relative;
    width: 100%;
    margin-top: 50px;
    border-bottom: 1px solid #385a6d;
    border-top: 1px solid #263a46; }
    #main-menu .menu-body .menu-item {
      display: block;
      width: 100%;
      color: whitesmoke;
      text-decoration: none;
      padding: 10px 15px;
      opacity: 0.7;
      font-weight: 700;
      border-top: 1px solid #385a6d;
      border-bottom: 1px solid #263a46; }
      #main-menu .menu-body .menu-item .material-icons {
        position: relative;
        top: 5px;
        font-size: 20px; }
      #main-menu .menu-body .menu-item .text {
        font-size: 12px;
        text-transform: uppercase; }
      #main-menu .menu-body .menu-item:hover {
        opacity: 1;
        -webkit-transition: opacity 500ms;
        /* Safari */
        transition: opacity 500ms; }

#container {
  position: relative;
  margin-left: 150px; }
  #container .container-header {
    width: 100%;
    height: 40px;
    background-color: whitesmoke;
    padding: 10px 20px; }
    #container .container-header .title {
      font-size: 18px;
      text-transform: uppercase; }
  #container .container-body {
    padding: 30px 20px; }

/**** LIST AND TABLE ****/
.list-container {
  margin-bottom: 20px;
  /* For both table and list-panels */ }
  .list-container .header {
    position: relative;
    height: 32px;
    margin-bottom: 7px; }
    .list-container .header dl {
      margin: 0;
      float: left; }
    .list-container .header .title {
      position: relative;
      float: left;
      margin-bottom: 0px; }
    .list-container .header .search {
      display: inline-block;
      vertical-align: top; }
    .list-container .header .error.icon {
      top: 4px; }
    .list-container .header .link {
      top: 3px;
      margin-right: 5px; }
  .list-container .table {
    padding: 5px 15px 15px 15px;
    background-color: white;
    overflow: auto; }
    .list-container .table table {
      position: relative;
      width: 100%;
      border-collapse: collapse;
      background-color: white; }
      .list-container .table table tr {
        position: relative;
        text-align: left; }
      .list-container .table table th:first-child,
      .list-container .table table td:first-child {
        padding-left: 20px; }
      .list-container .table table th:last-child,
      .list-container .table table td:last-child {
        padding-right: 20px; }
      .list-container .table table th.checkbox-wrapper,
      .list-container .table table td.checkbox-wrapper {
        width: 50px;
        text-align: center; }
        .list-container .table table th.checkbox-wrapper:hover,
        .list-container .table table td.checkbox-wrapper:hover {
          cursor: pointer; }
      .list-container .table table th.fit-content,
      .list-container .table table td.fit-content {
        width: 1%; }
      .list-container .table table thead tr {
        color: #50788C;
        font-size: 100%;
        text-transform: uppercase; }
      .list-container .table table thead th {
        padding: 10px 0px 10px 10px;
        text-align: left; }
        .list-container .table table thead th a:not(:first-of-type) {
          margin-left: 5px; }
        .list-container .table table thead th a.sortable:before {
          position: relative;
          display: inline;
          font-size: 22px;
          content: "arrow_drop_down";
          opacity: 0.3;
          line-height: 80%;
          margin-left: -7px;
          margin-right: -3px;
          top: 6px; }
        .list-container .table table thead th a.sortable.sorted-asc:before {
          content: "arrow_drop_up";
          opacity: 1; }
        .list-container .table table thead th a.sortable.sorted-desc:before {
          content: "arrow_drop_down";
          opacity: 1; }
        .list-container .table table thead th a.sortable:hover {
          cursor: pointer; }
        .list-container .table table thead th .help:after {
          top: -2px; }
      .list-container .table table tbody {
        width: 100%; }
        .list-container .table table tbody tr {
          height: 34px; }
          .list-container .table table tbody tr[ng-click]:not(.notClickable):hover {
            background-color: whitesmoke;
            cursor: pointer; }
        .list-container .table table tbody td {
          padding: 5px 10px 5px 10px;
          font-size: 100%; }
          .list-container .table table tbody td dl {
            margin: 0px;
            display: inline-block;
            vertical-align: middle; }
            .list-container .table table tbody td dl dd {
              min-height: auto;
              padding: 0px; }
          .list-container .table table tbody td .icon {
            font-size: 16px; }
            .list-container .table table tbody td .icon.lock:before {
              content: "lock"; }
            .list-container .table table tbody td .icon.check:before {
              font-size: 22px;
              content: "check"; }
  .list-container tbody.empty,
  .list-container .list-panels-container.empty {
    display: block;
    height: 100px; }
    .list-container tbody.empty:after,
    .list-container .list-panels-container.empty:after {
      display: block;
      position: absolute;
      width: 100%;
      top: 50%;
      content: "NO RESULTS";
      text-align: center;
      color: #BFBFBF;
      font-size: 24px; }

/*# sourceMappingURL=Site.css.map */
