@using Cpi.Application.Filters;

@{
    Layout = "/Views/Shared/_AppLayout.cshtml";
}

@Scripts.Render("~/bundles/report/performance")

<div ng-app="PerformanceApp" class="page-container">
    <div ui-view></div>
</div>