<div class="container">
    <div ng-show="state.current.name == 'List'" class="secondary-menu">
        <div class="title-container">
            <div class="title">Staff</div>
            <div class="list-total">{{model.ListLoadCalculator.Total}}</div>
        </div>

        <div class="filters-container">
            <input search-box type="text" class="search-box" ng-model="scopeData.filter.SearchString" placeholder="Search" />
            <button ng-show="!showAdvancedSearch" ng-click="showAdvancedSearch = true" class="button">
                Advanced
                <span ng-show="getAdvancedSearchCount() > 0"> ({{getAdvancedSearchCount()}})</span>
            </button>
        </div>

        <div class="buttons">
            <button class="button main" ng-click="createUser()">+ Create</button>
        </div>
    </div>

    <div class="list-container">
        <table>
            <thead>
                <tr>
                    <th><a ng-sort="Fullname">Fullname 姓名</a></th>
                    <th><a ng-sort="Nickname">Nickname 昵称</a></th>
                    <th><a ng-sort="Username">Username 账号</a></th>
                    <th><a ng-sort="UserRole">Role</a></th>
                    <th><a ng-sort="UserOccupation">Occupation 职业</a></th>
                    <th><a ng-sort="LastLoginDate">Last Login 登录日期</a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="record in model.Records" ng-class="{deleting: record.Deleted}" ng-click="viewUser(record.Id)">
                    <td>
                        {{record.Fullname}}
                    </td>
                    <td>
                        {{record.Nickname}}
                    </td>
                    <td>
                        {{record.Username}}
                    </td>
                    <td>
                        {{record.UserRole}}
                    </td>
                    <td>
                        {{record.UserOccupation}}
                    </td>
                    <td>
                        {{record.LastLoginDate | shortDate}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div ui-view class="ng-animate-enabled"></div>
</div>

