<div class="container">
    <div ng-show="state.current.name == 'List'" class="secondary-menu">
        <div class="title-container">
            <div class="title">Staff</div>
            <div class="list-total">{{listLoadCalculator.Total}}</div>
        </div>

        <div class="filters-container">
            <div simple-search></div>
        </div>

        <div class="buttons">
            <button class="button main" ng-click="createUser()">+ Create</button>
        </div>
    </div>

    <div class="list-container">
        <table>
            <thead>
                <tr>
                    <th><a ng-sort="Fullname">Fullname</a></th>
                    <th><a ng-sort="Nickname">Nickname</a></th>
                    <th><a ng-sort="Username">Username</a></th>
                    <th><a ng-sort="UserRole">Role</a></th>
                    <th><a ng-sort="UserOccupation">Occupation</a></th>
                    <th><a ng-sort="LastLoginDate">Last Login</a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="listItem in listItems" ng-class="{deletingEntry: listItem.Deleted}" ng-click="viewUser(listItem.Id)">
                    <td>
                        {{listItem.Fullname}}
                    </td>
                    <td>
                        {{listItem.Nickname}}
                    </td>
                    <td>
                        {{listItem.Username}}
                    </td>
                    <td>
                        {{listItem.UserRole}}
                    </td>
                    <td>
                        {{listItem.UserOccupation}}
                    </td>
                    <td>
                        {{listItem.LastLoginDate | shortDate}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div ui-view class="ng-animate-enabled"></div>
</div>

