<div id="user-salaries" class="page-container">
    <div class="page-header">
        <div class="title-container">
            <div class="title">Salary Sheet</div>
        </div>
        <div class="filters-container">
            <section>
                <dl class="dl-S">
                    <dd>
                        <input ng-model="dateFrom" placeholder="Bonus Date (From)" date-input />
                    </dd>
                </dl>

                <dl class="dl-S">
                    <dd>
                        <input ng-model="dateTo" placeholder="Bonus Date (To)" date-input />
                    </dd>
                </dl>

                <button class="button main" ng-click="getSalarySheet()">Get Salary Sheet</button>
            </section>
        </div>
        <div class="buttons">
            <button class="button" ng-click="back()">Back</button>
        </div>
    </div>

    <div class="page-body print-section">
        <div ng-show="model.UserSalaries">
            <div class="salary-sheet-header">
                <div>{{model.DateFrom | shortDate }} - {{model.DateTo | shortDate }}</div>
                <div>Operator Bonus: <b>${{model.TotalSoldBonus | number: 2}}</b></div>
                <div>Delivery Bonus: <b>${{model.TotalDeliveredBonus | number: 2}}</b></div>
                <div>Salary: <b>${{model.TotalSalary | number: 2}}</b></div>
                <div>Total Pay Out: <b>${{model.TotalSoldBonus + model.TotalDeliveredBonus + model.TotalSalary | number: 2}}</b></div>
            </div>
            <div ng-repeat="userSalary in model.UserSalaries" class="salary-container print-avoid-page-break">
                <div class="header">
                    <div class="name">
                        {{userSalary.UserFullname}}
                        <span ng-show="userSalary.UserNickname">({{userSalary.UserNickname}})</span>
                    </div>
                    <div class="date">{{model.DateFrom | shortDate }} - {{model.DateTo | shortDate }}</div>
                </div>
                <div class="information">
                    <div>Occupation: {{userSalary.Occupation}}</div>
                    <div>Monthly Salary: ${{userSalary.Salary | number: 2}}</div>
                </div>
                <div class="pay">
                    <div>Half Month Salary: ${{userSalary.Salary / 2 | number: 2}}</div>
                    <div ng-show="userSalary.AmountSold">{{userSalary.AmountSold}} products Sold: ${{userSalary.SoldBonus | number: 2}}</div>
                    <div ng-show="userSalary.AmountDelivered">{{userSalary.AmountDelivered}} invoices delivered: ${{userSalary.DeliveredBonus | number: 2}}</div>
                    <div>Total Pay: <b>${{userSalary.TotalPay | number: 2}}</b></div>
                </div>
            </div>
        </div>
    </div>
</div>
