<div id="expense-list" class="list-container">
    <div ng-show="state.current.name == 'List'" class="secondary-menu">
        <div class="title-container">
            <div class="title">Expenses</div>
            <div class="list-total">{{model.ListLoadCalculator.Total}}</div>
        </div>

        <div class="filters-container">
            <input search-box type="text" class="search-box" ng-model="scopeData.filter.SearchString" placeholder="Search" />
            <button ng-show="!showAdvancedSearch" ng-click="showAdvancedSearch = true" class="button">
                Advanced
                <span ng-show="getAdvancedSearchCount() > 0"> ({{getAdvancedSearchCount()}})</span>
            </button>
            <div advanced-search ng-show="showAdvancedSearch" advanced-search-undo="advancedSearchUndo()" class="advanced-search">
                <section>
                    <dl>
                        <dt>Created Date</dt>
                        <dd>
                            <select ng-model="scopeData.filter.AdvancedSearch.ReportDateFilter.ReportDateId" ng-options="selectListItem.Id as selectListItem.Name for selectListItem in modelData.ReportDates">
                                <option></option>
                            </select>
                        </dd>
                    </dl>

                    <dl ng-show="scopeData.filter.AdvancedSearch.ReportDateFilter.ReportDateId === modelData.ReportDateIdEnums.AllTimeOrSelectDateRange" class="dl-S">
                        <dt>Created Date: From</dt>
                        <dd>
                            <input ng-model="scopeData.filter.AdvancedSearch.ReportDateFilter.DateFrom" date-input />
                        </dd>
                    </dl>

                    <dl ng-show="scopeData.filter.AdvancedSearch.ReportDateFilter.ReportDateId === modelData.ReportDateIdEnums.AllTimeOrSelectDateRange" class="dl-S">
                        <dt>Created Date: To</dt>
                        <dd>
                            <input ng-model="scopeData.filter.AdvancedSearch.ReportDateFilter.DateTo" date-input />
                        </dd>
                    </dl>
                </section>

                <div class="buttons">
                    <button class="button" ng-click="showAdvancedSearch = false; advancedSearchUndo();">Close</button>
                    <button class="button main" ng-click="advancedSearchReset()">Reset</button>
                    <button class="button main" ng-click="advancedSearchGo()">Search</button>
                </div>
            </div>
        </div>

        <div class="buttons">
            <button ng-show="isEditingAny()" class="button" ng-click="cancelAll()">Cancel</button>
            <button ng-show="isEditingAny()" class="button main" ng-click="save()">Save</button>
            <button class="button main" ng-click="create()">+ Create</button>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th class="date-time"><a ng-class="getSortOrder('CreatedDate')" ng-click="sort('CreatedDate')">Created 生成日期</a></th>
                <th><a ng-class="getSortOrder('Name')" ng-click="sort('Name')">Name 名</a></th>
                <th class="right-content"><a ng-class="getSortOrder('Expense')" ng-click="sort('Expense')">Expense 支出</a></th>
                <th class="action"></th>
            </tr>
        </thead>
        <tbody ng-records="model.Records" ng-total="model.ListLoadCalculator.Total" ng-get-list="getList(true)">
            <tr ng-repeat="record in model.Records" ng-class="{deleting: record.Deleted}">
                <td class="date-time">
                    <dl>
                        <dd>{{record.CreatedDate | shortDate}}</dd>
                    </dl>
                </td>
                <td>
                    <dl>
                        <dd ng-show="!record.isEditing">{{record.Name}}</dd>
                        <dd ng-show="record.isEditing">
                            <span field-validation-error ng-show="modelState['[' + getEditingRecordIndex(record) + '].Name']" class="field-validation-error"></span>
                            <input ng-model="record.Name" />
                        </dd>
                    </dl>
                </td>
                <td class="right-content">
                    <dl>
                        <dd ng-show="!record.isEditing" class="expense">${{record.Expense | number: 2}}</dd>
                        <dd ng-show="record.isEditing">
                            <span field-validation-error ng-show="modelState['[' + getEditingRecordIndex(record) + '].Expense']" class="field-validation-error"></span>
                            <input ng-model="record.Expense" />
                        </dd>
                    </dl>
                </td>
                <td class="action">
                    <div ng-show="!record.isEditing" class="edit icon" ng-click="edit(record); $event.stopPropagation();"></div>
                    <div ng-show="record.isEditing" class="cancel icon" ng-click="cancel(record)" ; $event.stopPropagation();"></div>
                </td>
            </tr>
            <tr>
                <td class="date-time"></td>
                <td></td>
                <td class="right-content">
                    <dl ng-show="!isEditingAny()">
                        <dd>
                            <b>Total:</b> ${{getTotalExpense() | number: 2}}
                        </dd>
                    </dl>
                </td>
                <td class="action"></td>
            </tr>
        </tbody>
    </table>

    <div ui-view class="ng-animate-enabled"></div>
</div>
