<div id="expense-list" class="container">
    <div ng-show="state.current.name == 'List'" class="secondary-menu">
        <div class="title-container">
            <div class="title">Expenses</div>
            <div class="list-total">{{model.ListLoadCalculator.Total}}</div>
        </div>

        <div class="filters-container">
            <input search-box type="text" class="search-box" ng-model="scopeData.filter.SearchString" placeholder="Search" />
            <button ng-show="!showAdvancedSearch" ng-click="showAdvancedSearch = true" class="button">
                Advanced
                <span ng-show="getAdvancedSearchCount() > 0"> ({{getAdvancedSearchCount()}})</span>
            </button>
            <div advanced-search ng-show="showAdvancedSearch" advanced-search-undo="advancedSearchUndo()" class="advanced-search">
                <section>
                    <dl class="dl-S">
                        <dt>Location</dt>
                        <dd>
                            <select ng-model="scopeData.filter.AdvancedSearch.LocationId" ng-options="selectListItem.Id as selectListItem.Name for selectListItem in modelData.Locations">
                                <option></option>
                            </select>
                        </dd>
                    </dl>
                    <dl>
                        <dt>Created Date</dt>
                        <dd>
                            <select ng-model="scopeData.filter.AdvancedSearch.ReportDateFilter.ReportDateId" ng-options="selectListItem.Id as selectListItem.Name for selectListItem in modelData.ReportDates">
                                <option></option>
                            </select>
                        </dd>
                    </dl>

                    <dl ng-show="scopeData.filter.AdvancedSearch.ReportDateFilter.ReportDateId === modelData.ReportDateIdEnums.AllTimeOrSelectDateRange" class="dl-S">
                        <dt>Created Date: From</dt>
                        <dd>
                            <input ng-model="scopeData.filter.AdvancedSearch.ReportDateFilter.DateFrom" date-input />
                        </dd>
                    </dl>

                    <dl ng-show="scopeData.filter.AdvancedSearch.ReportDateFilter.ReportDateId === modelData.ReportDateIdEnums.AllTimeOrSelectDateRange" class="dl-S">
                        <dt>Created Date: To</dt>
                        <dd>
                            <input ng-model="scopeData.filter.AdvancedSearch.ReportDateFilter.DateTo" date-input />
                        </dd>
                    </dl>
                </section>

                <div class="buttons">
                    <button class="button" ng-click="showAdvancedSearch = false; advancedSearchUndo();">Close</button>
                    <button class="button main" ng-click="advancedSearchReset()">Reset</button>
                    <button class="button main" ng-click="advancedSearchGo()">Search</button>
                </div>
            </div>
        </div>

        <div class="buttons">
            <button ng-show="isEditingAny()" class="button" ng-click="cancelAll()">Cancel</button>
            <button ng-show="isEditingAny()" class="button main" ng-click="save()">Save</button>
            <button class="button main" ng-click="create()">+ Create</button>
        </div>
    </div>

    <div class="list-container">
        <table>
            <thead>
                <tr>
                    <th class="thd-S"><a ng-sort="CreatedDate">Created<br />生成日期</a></th>
                    <th><a ng-sort="Name">Name 名</a></th>
                    <th><a ng-sort="Location.Name">Location<br />地点</a></th>
                    <th>Handled By<br />经办人</th>
                    <th>Note<br />备注</th>
                    <th class="right-content thd-S"><a ng-sort="Expense * Quantity">Expense<br />支出</a></th>
                    <th class="right-content thd-S"><a ng-sort="Quantity">Quantity<br />数量</a></th>
                    <th class="right-content thd-S">Total<br />总支出</th>
                    <th class="action"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="record in model.Records" ng-class="{deleting: record.Deleted}">
                    <td class="thd-S">
                        <dl>
                            <dd>{{record.CreatedDate | shortDate}}</dd>
                        </dl>
                    </td>
                    <td>
                        <dl>
                            <dd ng-show="!record.isEditing">{{record.Name}}</dd>
                            <dd ng-show="record.isEditing">
                                <span field-validation-error ng-show="modelState['[' + getEditingRecordIndex(record) + '].Name']" class="field-validation-error"></span>
                                <input ng-model="record.Name" />
                            </dd>
                        </dl>
                    </td>
                    <td>
                        <dl>
                            <dd ng-show="!record.isEditing">{{record.Location.Name}}</dd>
                            <dd ng-if="record.isEditing" class="overflow-visible">
                                <span field-validation-error ng-show="modelState['[' + getEditingRecordIndex(record) + '].LocationId']" class="field-validation-error"></span>
                                <select ng-model="record.LocationId" ng-options="selectListItem.Id as selectListItem.Name for selectListItem in modelData.Locations"></select>
                            </dd>
                        </dl>
                    </td>
                    <td>
                        <dl>
                            <dd ng-show="!record.isEditing">{{record.HandledBy.Fullname}} <span ng-show="record.HandledBy.Nickname">({{record.HandledBy.Nickname}})</span></dd>
                            <dd ng-if="record.isEditing" class="overflow-visible">
                                <span field-validation-error ng-show="modelState['[' + getEditingRecordIndex(record) + '].HandledById']" class="field-validation-error"></span>
                                <div search-drop-down class="search-drop-down"
                                     search-object="modelData.Users"
                                     input-string="{{record.HandledBy.Nickname}}"
                                     input-key="record.HandledById">
                                </div>
                            </dd>
                        </dl>
                    </td>
                    <td>
                        <dl>
                            <dd ng-show="!record.isEditing">{{record.Note}}</dd>
                            <dd ng-show="record.isEditing">
                                <input ng-model="record.Note" />
                            </dd>
                        </dl>
                    </td>
                    <td class="right-content thd-S">
                        <dl>
                            <dd ng-show="!record.isEditing" class="expense">${{record.Expense | number: 2}}</dd>
                            <dd ng-show="record.isEditing">
                                <span field-validation-error ng-show="modelState['[' + getEditingRecordIndex(record) + '].Expense']" class="field-validation-error"></span>
                                <input ng-model="record.Expense" />
                            </dd>
                        </dl>
                    </td>
                    <td class="right-content thd-S">
                        <dl>
                            <dd ng-show="!record.isEditing">{{record.Quantity}}</dd>
                            <dd ng-show="record.isEditing">
                                <span field-validation-error ng-show="modelState['[' + getEditingRecordIndex(record) + '].Quantity']" class="field-validation-error"></span>
                                <input ng-model="record.Quantity" />
                            </dd>
                        </dl>
                    </td>
                    <td class="right-content thd-S">
                        <dl>
                            <dd>
                                <span ng-show="record.Expense * record.Quantity">
                                    ${{record.Expense * record.Quantity | number: 2}}
                                </span>
                            </dd>
                        </dl>
                    </td>
                    <td class="action">
                        <div ng-show="!record.isEditing" class="edit icon" ng-click="edit(record); $event.stopPropagation();"></div>
                        <div ng-show="record.isEditing" class="cancel icon" ng-click="cancel(record)" ; $event.stopPropagation();"></div>
                    </td>
                </tr>
                <tr ng-if="showDailyTotalExpense($index)" class="sub-total-row" ng-repeat-end>
                    <td class="thd-S"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="right-content thd-S"></td>
                    <td class="right-content thd-S"></td>
                    <td class="right-content thd-S">${{getDailyTotalExpense($index) | number: 2}}</td>
                    <td class="action"></td>
                </tr>
                <!--<tr>
                    <td class="date-time"></td>
                    <td></td>
                    <td class="right-content">
                        <dl ng-show="!isEditingAny()">
                            <dd>
                                <b>Total:</b> ${{getTotalExpense() | number: 2}}
                            </dd>
                        </dl>
                    </td>
                    <td class="action"></td>
                </tr>-->
            </tbody>
        </table>
    </div>

    <div ui-view class="ng-animate-enabled"></div>
</div>
