<div id="expense-list" class="container">
    <div ng-show="state.current.name == 'List'" class="secondary-menu">
        <div class="title-container">
            <div class="title">Expenses</div>
            <div class="list-total">{{listLoadCalculator.Total}}</div>
        </div>

        <div class="filters-container">
            <div simple-search></div>
            <div ng-show="isRoleLaozi" advanced-search>
                <section>
                    <dl class="dl-S">
                        <dt>Location</dt>
                        <dd>
                            <select ng-model="scopeData.filter.AdvancedSearch.LocationId" ng-options="selectListItem.Id as selectListItem.Name for selectListItem in modelData.Locations">
                                <option value="">All ទាំងអស់</option>
                            </select>
                        </dd>
                    </dl>
                    <dl class="dl-S">
                        <dt>Date</dt>
                        <dd>
                            <select ng-model="scopeData.filter.AdvancedSearch.ReportDateFilter.ReportDateId" ng-options="selectListItem.Id as selectListItem.Name for selectListItem in modelData.ReportDates">
                            </select>
                        </dd>
                    </dl>

                    <dl ng-show="scopeData.filter.AdvancedSearch.ReportDateFilter.ReportDateId === modelData.ReportDateIdEnums.AllTimeOrSelectDateRange" class="dl-S">
                        <dt>Date: From</dt>
                        <dd>
                            <input ng-model="scopeData.filter.AdvancedSearch.ReportDateFilter.DateFrom" date-input />
                        </dd>
                    </dl>

                    <dl ng-show="scopeData.filter.AdvancedSearch.ReportDateFilter.ReportDateId === modelData.ReportDateIdEnums.AllTimeOrSelectDateRange" class="dl-S">
                        <dt>Date: To</dt>
                        <dd>
                            <input ng-model="scopeData.filter.AdvancedSearch.ReportDateFilter.DateTo" date-input />
                        </dd>
                    </dl>
                </section>
            </div>
            <div advanced-search auto-trigger="true">
                <section>
                    <dl class="dl-S">
                        <dd>
                            <select ng-model="scopeData.filter.AdvancedSearch.LocationId" ng-options="selectListItem.Id as selectListItem.Name for selectListItem in modelData.Locations">
                                <option value="">All ទាំងអស់</option>
                            </select>
                        </dd>
                    </dl>
                    <dl class="dl-S">
                        <dd>
                            <select ng-model="scopeData.filter.AdvancedSearch.ReportDateFilter.ReportDateId" ng-options="selectListItem.Id as selectListItem.Name for selectListItem in modelData.ReportDates"></select>
                        </dd>
                    </dl>
                </section>
            </div>
        </div>

        <div class="buttons">
            <button ng-show="isAnyListItemTouched()" class="button" ng-click="cancelListItems()">Cancel</button>
            <button ng-show="isAnyListItemTouched()" class="button main" ng-click="save()">Save</button>
            <button class="button main" ng-click="createListItem({ LocationId: modelData.LocationEnums.PhnomPenh, Quantity: 1, Date: modelData.TodayDate })">+ Create</button>
        </div>
    </div>

    <div class="list-container">
        <table>
            <thead>
                <tr>
                    <th class="date-time"><a ng-sort="Date">Date</a></th>
                    <th><a ng-sort="Name">Name</a></th>
                    <th><a ng-sort="Location.Name">Location</a></th>
                    <th>Handled By</th>
                    <th>Note</th>
                    <th class="right-content thd-S"><a ng-sort="Expense">Expense</a></th>
                    <th class="action"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="listItem in listItems" ng-class="{deletingEntry: listItem.Deleted}">
                    <td class="date-time">
                        <dl>
                            <dd ng-show="!showListItemInput(listItem)">{{listItem.Date | shortDate}}</dd>
                            <dd ng-show="showListItemInput(listItem)">
                                <span field-validation-error ng-show="modelState['[' + getTouchedListItemIndex(listItem) + '].Date']" class="field-validation-error"></span>
                                <input ng-model="listItem.Date" date-input />
                            </dd>
                        </dl>
                    </td>
                    <td>
                        <dl>
                            <dd ng-show="!showListItemInput(listItem)">{{listItem.Name}}</dd>
                            <dd ng-show="showListItemInput(listItem)">
                                <span field-validation-error ng-show="modelState['[' + getTouchedListItemIndex(listItem) + '].Name']" class="field-validation-error"></span>
                                <input ng-model="listItem.Name" />
                            </dd>
                        </dl>
                    </td>
                    <td>
                        <dl>
                            <dd ng-show="!showListItemInput(listItem)">{{listItem.Location.Name}}</dd>
                            <dd ng-if="showListItemInput(listItem)" class="overflow-visible">
                                <span field-validation-error ng-show="modelState['[' + getTouchedListItemIndex(listItem) + '].LocationId']" class="field-validation-error"></span>
                                <select ng-model="listItem.LocationId" ng-options="selectListItem.Id as selectListItem.Name for selectListItem in modelData.Locations"></select>
                            </dd>
                        </dl>
                    </td>
                    <td>
                        <dl>
                            <dd ng-show="!showListItemInput(listItem)">{{listItem.HandledBy.Fullname}} <span ng-show="listItem.HandledBy.Nickname">({{listItem.HandledBy.Nickname}})</span></dd>
                            <dd ng-if="showListItemInput(listItem)" class="overflow-visible">
                                <span field-validation-error ng-show="modelState['[' + getTouchedListItemIndex(listItem) + '].HandledById']" class="field-validation-error"></span>
                                <div search-drop-down class="search-drop-down"
                                     search-object="modelData.Users"
                                     input-string="{{listItem.HandledBy.Nickname}}"
                                     input-key="listItem.HandledById">
                                </div>
                            </dd>
                        </dl>
                    </td>
                    <td>
                        <dl>
                            <dd ng-show="!showListItemInput(listItem)">{{listItem.Note}}</dd>
                            <dd ng-show="showListItemInput(listItem)">
                                <input ng-model="listItem.Note" />
                            </dd>
                        </dl>
                    </td>
                    <td class="right-content thd-S">
                        <dl>
                            <dd ng-show="!showListItemInput(listItem)" class="expense">${{listItem.Expense | number: 2}}</dd>
                            <dd ng-show="showListItemInput(listItem)">
                                <span field-validation-error ng-show="modelState['[' + getTouchedListItemIndex(listItem) + '].Expense']" class="field-validation-error"></span>
                                <input ng-model="listItem.Expense" />
                            </dd>
                        </dl>
                    </td>
                    <td class="action">
                        <button ng-show="!listItem.touched" class="edit icon" ng-click="editListItem(listItem); $event.stopPropagation();"></button>
                        <button ng-show="!listItem.touched && listItem.Id > 0" class="delete icon" ng-click="deleteListItem(listItem); $event.stopPropagation();"></button>
                        <button ng-show="listItem.touched" class="cancel icon" ng-click="cancelListItem(listItem); $event.stopPropagation();"></button>
                    </td>
                </tr>
                <tr ng-if="showDailyTotalExpense($index)" class="sub-total-row" ng-repeat-end>
                    <td class="thd-S"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="right-content thd-S"></td>
                    <td class="right-content thd-S"></td>
                    <td class="right-content thd-S">${{getDailyTotalExpense($index) | number: 2}}</td>
                    <td class="action"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div ui-view class="ng-animate-enabled"></div>
</div>
