<div id="finance" class="container">
    <div ng-show="state.current.name == 'Finance'" class="secondary-menu">
        <div class="title-container">
            <div class="title">Finance</div>
        </div>
        <div class="filters-container">
            <section>
                <dl>
                    <dd>
                        <select ng-model="scopeData.filter.LocationId" ng-options="selectListItem.Id as selectListItem.Name for selectListItem in modelData.Locations">
                            <option></option>
                        </select>
                    </dd>
                </dl>
                <dl>
                    <dd>
                        <select ng-model="scopeData.filter.ReportDateFilter.ReportDateId" ng-options="selectListItem.Id as selectListItem.Name for selectListItem in modelData.ReportDates" ng-change="scopeData.filter.ReportDateFilter.DateFrom = null; scopeData.filter.ReportDateFilter.DateTo = null;"></select>
                    </dd>
                </dl>

                <dl ng-show="scopeData.filter.ReportDateFilter.ReportDateId === modelData.ReportDateIdEnums.AllTimeOrSelectDateRange" class="dl-XS">
                    <dd>
                        <input ng-model="scopeData.filter.ReportDateFilter.DateFrom" placeholder="Date (From)" ng-change="delayFilterSearch = true" date-input />
                    </dd>
                </dl>
                
                <dl ng-show="scopeData.filter.ReportDateFilter.ReportDateId === modelData.ReportDateIdEnums.AllTimeOrSelectDateRange" class="dl-XS">
                    <dd>
                        <input ng-model="scopeData.filter.ReportDateFilter.DateTo" placeholder="Date (To)" ng-change="delayFilterSearch = true" date-input />
                    </dd>
                </dl>
            </section>
        </div>
        <div class="buttons">
            <!--<button class="button main" ng-click="goListView()">List View 表格</button>-->
            <button class="button main" ng-click="getFinance()">Refresh 刷新</button>
        </div>
    </div>

    <div class="title">Overview</div>
    <div class="panels">
        <div class="panel profit">
            <div class="content">${{model.Profit | number: 0}}</div>
            <div class="text">Profit</div>
            <div class="text">利润</div>
        </div>
        <div class="panel expense">
            <div class="content">${{model.Expense | number: 0}}</div>
            <div class="text">Expense</div>
            <div class="text">支出</div>
        </div>
        <div class="panel">
            <div class="content">${{model.Revenue | number: 0}}</div>
            <div class="text">Revenue</div>
            <div class="text">收入</div>
        </div>
        <div class="panel">
            <div class="content">{{model.ReceivedCallCount | number: 0}}</div>
            <div class="text">Calls Received</div>
            <div class="text">外来电话量</div>
        </div>
    </div>
    <div class="panels">
        <div class="panel">
            <div class="content">{{model.ProductSoldCount | number: 0}}</div>
            <div class="text">Products Sold</div>
            <div class="text">卖出产品量</div>
        </div>
        <div class="panel">
            <div class="content">{{model.ProductCancelledCount | number: 0}}</div>
            <div class="text">Products Cancelled</div>
            <div class="text">产品取消量</div>
        </div>
        <div class="panel">
            <div class="content">{{model.ProductPendingCount | number: 0}}</div>
            <div class="text">Products Pending</div>
            <div class="text">待定产品量</div>
        </div>
        <div class="panel">
            <div class="content">{{model.ProductTotalCount | number: 0}}</div>
            <div class="text">Products Total</div>
            <div class="text">总产品量</div>
        </div>
    </div>
    <div class="panels">
        <div class="panel">
            <div class="content">{{model.InvoiceSoldCount | number: 0}}</div>
            <div class="text">Invoices Sold</div>
            <div class="text">卖出订单量</div>
        </div>
        <div class="panel">
            <div class="content">{{model.InvoiceCancelledCount | number: 0}}</div>
            <div class="text">Invoices Cancelled</div>
            <div class="text">订单取消量</div>
        </div>
        <div class="panel">
            <div class="content">{{model.InvoicePendingCount | number: 0}}</div>
            <div class="text">Invoices Pending</div>
            <div class="text">待定订单量</div>
        </div>
        <div class="panel">
            <div class="content">{{model.InvoiceTotalCount | number: 0}}</div>
            <div class="text">Invoices Total</div>
            <div class="text">总订单量</div>
        </div>
    </div>

    <div ng-show="model.Revenues.length > 0" class="chart">
        <div class="title">Revenue 收入</div>

        <div class="chart-wrapper">
            <canvas class="chart chart-bar" chart-data="revenueNumbers" chart-labels="revenueDates" height="70" chart-options="generalChartOptions"></canvas>
        </div>
    </div>

    <div ng-show="model.Calls.length > 0" class="chart">
        <div class="title">Calls vs Sold Invoices 外来电话与卖出订单量</div>

        <div class="chart-wrapper">
            <canvas class="chart chart-bar" chart-data="callCounts" chart-labels="callDates" height="70" chart-options="generalChartOptions"></canvas>
        </div>
    </div>

    <div ng-show="model.Products.length > 0" class="chart">
        <div class="title">Sold vs Cancelled Products 卖出产品与产品取消量</div>

        <div class="chart-wrapper">
            <canvas class="chart chart-bar" chart-data="productCounts" chart-labels="productNames" height="70" chart-options="generalChartOptions"></canvas>
        </div>
    </div>

    <div ui-view class="ng-animate-enabled"></div>
</div>
