<div id="finance">
    <div ng-show="state.current.name == 'Finance'" class="secondary-menu">
        <div class="title-container">
            <div class="title">Finance</div>
        </div>
    </div>

    

    <div class="panels">
        <div class="panel">
            <div class="data">${{model.Revenue | number: 2}}</div>
        </div>
        <div class="panel">

        </div>
        <div class="panel"></div>
        <div class="panel"></div>
        <div class="panel"></div>
    </div>
</div>
