<div ng-if="true" class="container">
    <form>
        <div ng-show="state.current.name == 'List.Import'" class="secondary-menu-buttons">
            <button class="button main">Import File</button>
        </div>

        <div class="container-body padded">
            <dl class="dl-XL">
                <dd>
                    <div id="file-uploader" file-uploader on-change="changedCriteria()" class="file-uploader" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"></div>
                </dd>
            </dl>
        </div>
    </form>
</div>