<div class="container">
    <div ng-show="state.current.name == 'List'" class="secondary-menu">
        <div class="title-container">
            <div class="title">Invoices</div>
            <div class="list-total">{{listLoadCalculator.Total}}</div>
        </div>

        <div class="filters-container">
            <div simple-search></div>
            <div advanced-search>
                <section>
                    <dl class="dl-S">
                        <dt>Location</dt>
                        <dd>
                            <select ng-model="scopeData.filter.AdvancedSearch.LocationId" ng-options="selectListItem.Id as selectListItem.Name for selectListItem in modelData.Locations">
                                <option></option>
                            </select>
                        </dd>
                    </dl>
                    <dl class="dl-S">
                        <dt>Status</dt>
                        <dd>
                            <select ng-model="scopeData.filter.AdvancedSearch.StatusId" ng-options="selectListItem.Id as selectListItem.Name for selectListItem in modelData.InvoiceStatuses">
                                <option></option>
                            </select>
                        </dd>
                    </dl>
                    <dl>
                        <dt>Created Date</dt>
                        <dd>
                            <select ng-model="scopeData.filter.AdvancedSearch.ReportDateFilter.ReportDateId" ng-options="selectListItem.Id as selectListItem.Name for selectListItem in modelData.ReportDates">
                                <option></option>
                            </select>
                        </dd>
                    </dl>

                    <dl ng-show="scopeData.filter.AdvancedSearch.ReportDateFilter.ReportDateId === modelData.ReportDateIdEnums.AllTimeOrSelectDateRange" class="dl-S">
                        <dt>Created Date: From</dt>
                        <dd>
                            <input ng-model="scopeData.filter.AdvancedSearch.ReportDateFilter.DateFrom" date-input />
                        </dd>
                    </dl>

                    <dl ng-show="scopeData.filter.AdvancedSearch.ReportDateFilter.ReportDateId === modelData.ReportDateIdEnums.AllTimeOrSelectDateRange" class="dl-S">
                        <dt>Created Date: To</dt>
                        <dd>
                            <input ng-model="scopeData.filter.AdvancedSearch.ReportDateFilter.DateTo" date-input />
                        </dd>
                    </dl>
                </section>
            </div>
        </div>

        <div class="buttons">
            <button ng-show="isAnyListItemTouched()" class="button" ng-click="cancelListItems()">Cancel</button>
            <button ng-show="isAnyListItemTouched()" class="button main" ng-click="save()">Save</button>
            <button class="button main" ng-click="createListItem()">+ Create</button>
        </div>
    </div>

    <div class="list-container">
        <table>
            <thead>
                <tr>
                    <th class="date-time"><a ng-sort="CreatedDate">Created <br /> 生成日期</a></th>
                    <th>Phone <br /> 顾客电话</th>
                    <th ng-class="{commodities: isAnyListItemTouched()}">Product <br /> 产品</th>
                    <th><a ng-sort="Operator.NickName">Operator <br /> 电话推销员</a></th>
                    <th><a ng-sort="DeliveryStaff.NickName">Deliverer <br /> 递送员</a></th>
                    <th><a ng-sort="Location.Name">Location <br /> 地点</a></th>
                    <th class="thd-S right-content"><a ng-sort="TotalPrice">Cost <br /> 总价格</a></th>
                    <th class="thd-S center-content"><a ng-sort="Status.Name">Status</a></th>
                    <th class="action"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="listItem in listItems" ng-class="{deletingEntry: listItem.Deleted}">
                    <td class="date-time">
                        <dl>
                            <dd>{{listItem.CreatedDate | shortDateWithTime}}</dd>
                        </dl>
                    </td>
                    <td>
                        <dl>
                            <dd ng-show="!showListItemInput(listItem)">{{listItem.CustomerPhone}}</dd>
                            <dd ng-show="showListItemInput(listItem)">
                                <span field-validation-error ng-show="modelState['[' + getTouchedListItemIndex(listItem) + '].CustomerPhone']" class="field-validation-error"></span>
                                <input ng-model="listItem.CustomerPhone" />
                            </dd>
                        </dl>
                    </td>
                    <td ng-class="{commodities: isAnyListItemTouched()}">
                        <dl>
                            <dd ng-show="!showListItemInput(listItem)">
                                {{listItem.InvoiceCommodities | objectCommodities}}
                            </dd>
                            <dd ng-show="showListItemInput(listItem)" class="overflow-visible">
                                <span field-validation-error ng-show="modelState['[' + getTouchedListItemIndex(listItem) + '].InvoiceCommodities']" class="field-validation-error"></span>
                                <div commodities-edit ng-model="listItem.InvoiceCommodities" ng-change="invoiceCommodityChange(listItem)" commodities="modelData.Commodities"></div>
                            </dd>
                        </dl>
                    </td>
                    <td>
                        <dl>
                            <dd ng-show="!showListItemInput(listItem)">{{listItem.Operator.Fullname}} <span ng-show="listItem.Operator.Nickname">({{listItem.Operator.Nickname}})</span></dd>
                            <dd ng-if="showListItemInput(listItem)" class="overflow-visible">
                                <span field-validation-error ng-show="modelState['[' + getTouchedListItemIndex(listItem) + '].OperatorId']" class="field-validation-error"></span>
                                <div search-drop-down class="search-drop-down"
                                        search-object="modelData.Users"
                                        input-string="{{listItem.Operator.Nickname}}"
                                        input-key="listItem.OperatorId">
                                </div>
                            </dd>
                        </dl>
                    </td>
                    <td>
                        <dl>
                            <dd ng-show="!showListItemInput(listItem)">{{listItem.DeliveryStaff.Fullname}} <span ng-show="listItem.DeliveryStaff.Nickname">({{listItem.DeliveryStaff.Nickname}})</span></dd>
                            <dd ng-if="showListItemInput(listItem)" class="overflow-visible">
                                <span field-validation-error ng-show="modelState['[' + getTouchedListItemIndex(listItem) + '].DeliveryStaffId']" class="field-validation-error"></span>
                                <div search-drop-down class="search-drop-down"
                                        search-object="modelData.Users"
                                        input-string="{{listItem.DeliveryStaff.Nickname}}"
                                        input-key="listItem.DeliveryStaffId">
                                </div>
                            </dd>
                        </dl>
                    </td>
                    <td>
                        <dl>
                            <dd ng-show="!showListItemInput(listItem)">{{listItem.Location.Name}}</dd>
                            <dd ng-if="showListItemInput(listItem)" class="overflow-visible">
                                <span field-validation-error ng-show="modelState['[' + getTouchedListItemIndex(listItem) + '].LocationId']" class="field-validation-error"></span>
                                <select ng-model="listItem.LocationId" ng-options="selectListItem.Id as selectListItem.Name for selectListItem in modelData.Locations"></select>
                            </dd>
                        </dl>
                    </td>
                    <td class="thd-S right-content">
                        <dl>
                            <dd ng-show="!showListItemInput(listItem)">
                                <span ng-show="listItem.TotalPrice">${{listItem.TotalPrice | number: 2}}</span>
                            </dd>
                            <dd ng-show="showListItemInput(listItem)" class="overflow-visible">
                                <input ng-model="listItem.TotalPrice" />
                            </dd>
                        </dl>
                    </td>
                    <td class="thd-S center-content">
                        <dl>
                            <dd ng-show="!showListItemInput(listItem)">
                                <span ng-show="listItem.StatusId === modelData.InvoiceStatusIdEnums.Sold" class="invoice-sold icon" title="Sold: Product(s) delivered to and paid by customer. 以卖出"></span>
                                <span ng-show="listItem.StatusId === modelData.InvoiceStatusIdEnums.Cancelled" class="invoice-cancelled icon" title="Cancelled: Product(s) not delivered to the customer. 取消"></span>
                            </dd>
                            <dd ng-show="showListItemInput(listItem)">
                                <select ng-model="listItem.StatusId" ng-options="selectListItem.Id as selectListItem.Name for selectListItem in modelData.InvoiceStatuses">
                                    <option></option>
                                </select>
                            </dd>
                        </dl>
                    </td>
                    <td class="action">
                        <button ng-show="!listItem.touched" class="edit icon" ng-click="editListItem(listItem); $event.stopPropagation();"></button>
                        <!--<div ng-show="listItem.Id" class="delete icon" ng-click="listItem.Deleted = true; listItem.touched = true; $event.stopPropagation();"></div>-->
                        <button ng-show="listItem.touched" class="cancel icon" ng-click="cancelListItem(listItem); $event.stopPropagation();"></button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div ui-view class="ng-animate-enabled"></div>
    </div>
</div>
