<div class="container">
    
    <div ng-show="state.current.name == 'List'" class="secondary-menu-buttons">
        <button class="button main " ng-click="import()">Import</button>
        <button class="button main " ng-click="import()">Import</button>
        <button class="button main " ng-click="import()">Import</button>
        <!--<button class="button main">
            Import
            <input class="file-uploader-input" name="file" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
        </button>-->
    </div>

    <div class="list-container">
        <div class="header">
            <div class="row">
                <div style="width: 30%" class="col">Date</div>
                <div style="width: 30%" class="col">Customer Name</div>
                <div style="width: 40%" class="col">Customer Phone</div>
            </div>
        </div>

        <div class="body">
            <div ng-repeat="record in model.Records" class="row">
                <div style="width: 30%" class="col">{{record.Date}}</div>
                <div style="width: 30%" class="col">{{record.CustomerName}}</div>
                <div style="width: 40%" class="col">{{record.CustomerPhone}}</div>
            </div>
        </div>


        <!--<div class="table">
            <table>
                <thead>
                    <tr>
                        <th><a ng-class="getSortOrder('CustomerName')" ng-click="sort('CustomerName')" class="sortable">Customer Name</a></th>
                        <th><a ng-class="getSortOrder('Identification')" ng-click="sort('Identification')" class="sortable">{{state.current.name}}</a></th>
                        <th><a ng-class="getSortOrder('Discipline')" ng-click="sort('Discipline')" class="sortable">Discipline</a></th>
                        <th><a ng-class="getSortOrder('Position')" ng-click="sort('Position')" class="sortable">Position</a></th>
                        <th><a ng-class="getSortOrder('CurrentSchool')" ng-click="sort('CurrentSchool')" class="sortable">Current School</a></th>
                        <th class="action"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="record in model.Records" ng-click="view(item.Id)" selectable-text>
                        <td>{{record.CustomerName}}</td>
                        <td>{{record.CustomerPhone}}</td>
                        <td>{{record.Discipline}}</td>
                        <td>{{record.Position}}</td>
                        <td>{{record.CurrentSchool}}</td>
                        <td class="action">
                            <span ng-show="checkPermission('StaffInfo', 'Edit')" class="edit action-icon" ng-click="edit(item.Id); $event.stopPropagation();"></span>
                            <span ng-show="checkPermission('StaffInfo', 'Delete')" class="delete action-icon" ng-click="remove(item.Id); $event.stopPropagation();"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>-->

        <!--<pagination pagination="model.Pagination"></pagination>-->

        <div ui-view></div>
    </div>
</div>