<div id="expense-list" class="container">
    <div ng-show="state.current.name == 'List'" class="secondary-menu">
        <div class="title-container">
            <div class="title">Products</div>
            <div class="list-total">{{listLoadCalculator.Total}}</div>
        </div>

        <div class="buttons">
            <button ng-show="isAnyListItemTouched()" class="button" ng-click="cancelListItems()">Cancel</button>
            <button ng-show="isAnyListItemTouched()" class="button main" ng-click="save()">Save</button>
            <button class="button main" ng-click="createListItem()">+ Create</button>
        </div>
    </div>

    <div class="list-container">
        <table>
            <thead>
                <tr>
                    <th><a ng-sort="CreatedDate">Created</a></th>
                    <th><a ng-sort="Name">Name</a></th>
                    <th class="center-content"><a ng-sort="Inactive">Deactivated</a></th>
                    <th class="right-content">Price</th>
                    <th class="action"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="listItem in listItems" ng-class="{deletingEntry: listItem.Deleted}">
                    <td>
                        <dl>
                            <dd>{{listItem.CreatedDate | shortDate}}</dd>
                        </dl>
                    </td>
                    <td>
                        <dl>
                            <dd ng-show="!showListItemInput(listItem)">{{listItem.Name}}</dd>
                            <dd ng-show="showListItemInput(listItem)">
                                <span field-validation-error ng-show="modelState['[' + getTouchedListItemIndex(listItem) + '].Name']" class="field-validation-error"></span>
                                <input ng-model="listItem.Name" />
                            </dd>
                        </dl>
                    </td>
                    <td class="center-content">
                        <dl>
                            <dd ng-show="!showListItemInput(listItem)">{{listItem.Inactive | bool}}</dd>
                            <dd ng-show="showListItemInput(listItem)">
                                <span field-validation-error ng-show="modelState['[' + getTouchedListItemIndex(listItem) + '].Inactive']" class="field-validation-error"></span>
                                <input type="checkbox" ng-model="listItem.Inactive" />
                            </dd>
                        </dl>
                    </td>
                    <td class="right-content">
                        <dl>
                            <dd ng-show="!showListItemInput(listItem)">${{listItem.Price | number: 2}}</dd>
                            <dd ng-show="showListItemInput(listItem)">
                                <span field-validation-error ng-show="modelState['[' + getTouchedListItemIndex(listItem) + '].Price']" class="field-validation-error"></span>
                                <input ng-model="listItem.Price" />
                            </dd>
                        </dl>
                    </td>
                    <td class="action">
                        <button ng-show="!listItem.touched" class="edit icon" ng-click="editListItem(listItem); $event.stopPropagation();"></button>
                        <button ng-show="listItem.touched" class="cancel icon" ng-click="cancelListItem(listItem); $event.stopPropagation();"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div ui-view class="ng-animate-enabled"></div>
</div>
