<div id="import" class="container padded">
    <div ng-show="state.current.name == 'List.Import'" class="secondary-menu">
        <div class="title-container">
            <div class="title">Calls</div>
        </div>
        <div class="others-container">
            <div class="buttons">
                <button class="button" ng-click="back()">Cancel</button>
                <button class="button main" ng-click="createPhoneNumbers()">Create Calls</button>
                <button class="button main" ng-click="organizePhoneNumbers()">Organize</button>
            </div>
        </div>
    </div>

    <form class="form">
        <dl class="dl-full">
            <dd>
                <textarea ng-model="phoneNumbers" placeholder="Copy and Paste phone numbers here from EXCEL"></textarea>
            </dd>
        </dl>
    </form>

    <div class="results-container">
        <div id="print-section">
            <div ng-show="parsedPhoneNumbersModel.SmartPhoneNumbers.length > 0" class="company-container">
                <div class="title">Smart</div>
                <div ng-repeat="phoneNumber in parsedPhoneNumbersModel.SmartPhoneNumbers track by $index" class="phone-number-container">
                    <span class="phone-number">{{phoneNumber}}</span>
                    <span class="phone-company">Smart</span>
                </div>
            </div>

            <div ng-show="parsedPhoneNumbersModel.MetPhonePhoneNumbers.length  > 0" class="company-container">
                <div class="title">MetPhone</div>
                <div ng-repeat="phoneNumber in parsedPhoneNumbersModel.MetPhonePhoneNumbers track by $index" class="phone-number-container">
                    <span class="phone-number">{{phoneNumber}}</span>
                    <span class="phone-company">MetPhone</span>
                </div>
            </div>

            <div ng-show="parsedPhoneNumbersModel.CellCardPhoneNumbers.length  > 0" class="company-container">
                <div class="title">CellCard</div>
                <div ng-repeat="phoneNumber in parsedPhoneNumbersModel.CellCardPhoneNumbers track by $index" class="phone-number-container">
                    <span class="phone-number">{{phoneNumber}}</span>
                    <span class="phone-company">CellCard</span>
                </div>
            </div>

            <div ng-show="parsedPhoneNumbersModel.OtherPhoneNumbers.length  > 0" class="company-container">
                <div class="title">Other</div>
                <div ng-repeat="phoneNumber in parsedPhoneNumbersModel.OtherPhoneNumbers track by $index" class="phone-number-container">
                    <span class="phone-number">{{phoneNumber}}</span>
                    <span class="phone-company">Other</span>
                </div>
            </div>
        </div>
    </div>
</div>
