<div id="user" class="container">
    <div ng-show="state.current.name == 'List.User'" class="secondary-menu">
        <div class="title-container">
            <div class="title">Staff</div>
        </div>
        <div class="filters-container">
        </div>
        <div class="buttons">
            <button ng-show="isViewMode()" class="button main" ng-click="setMode(editMode)">Edit</button>
            <button ng-show="isCreateMode() || isEditMode()" class="button main" ng-click="save()">Save</button>
            <button class="button" ng-click="back()">Back</button>
        </div>
    </div>

    <div>
        <section>
            <dl>
                <dt>Fullname 姓名</dt>
                <dd ng-show="isCreateMode() || isEditMode()">
                    <input ng-model="model.Fullname" />
                </dd>
                <dd ng-show="isViewMode()">
                    {{model.Fullname}}
                </dd>
            </dl>

            <dl>
                <dt>Nickname 昵称</dt>
                <dd ng-show="isCreateMode() || isEditMode()">
                    <input ng-model="model.Nickname" />
                </dd>
                <dd ng-show="isViewMode()">
                    {{model.Nickname}}
                </dd>
            </dl>

            <dl ng-show="isViewMode()">
                <dt>Username 账号</dt>
                <dd ng-show="isViewMode()">
                    {{model.Username}}
                </dd>
            </dl>

            <dl ng-show="isViewMode()">
                <dt>Role</dt>
                <dd>
                    {{model.UserRole.Name}}
                </dd>
            </dl>

            <dl>
                <dt>Occupation</dt>
                <dd ng-show="isCreateMode() || isEditMode()">
                    <select ng-model="scopeData.UserOccupationId" ng-options="selectListItem.Id as selectListItem.Name for selectListItem in modelData.Occupations">
                        <option></option>
                    </select>
                </dd>
                <dd ng-show="isViewMode()">
                    {{model.UserOccupation.Name}}
                </dd>
            </dl>

            <dl ng-show="isViewMode()">
                <dt>Last Login Date</dt>
                <dd>
                    {{model.LastLoginDate | shortDate}}
                </dd>
            </dl>
        </section>
    </div>

    <button ng-show="isViewMode() || isEditMode()" class="button delete" ng-click="remove()">Delete</button>
</div>
