@{
    var currentArea = (ViewContext.RouteData.DataTokens["area"] != null) ? ViewContext.RouteData.DataTokens["area"].ToString() : null;
    var currentController = (ViewContext.RouteData.Values["controller"] != null) ? ViewContext.RouteData.Values["controller"].ToString() : null;
}

<div id="main-menu">
    <div class="menu-body">
        <a href="/Call/Call/" class="menu-item @(currentArea == "Call" ? "selected" : "")">
            <i class="material-icons">call</i>
            <span class="text">Calls</span>
        </a>
        <a href="/Invoice/Invoice/" class="menu-item @(currentArea == "Invoice" ? "selected" : "")">
            <i class="material-icons">storage</i>
            <span class="text">Invoices</span>
        </a>
        <a href="/Finance/Finance/" class="menu-item @(currentArea == "Finance" ? "selected" : "")">
            <i class="material-icons">monetization_on</i>
            <span class="text">Finance</span>
        </a>
    </div>
</div>
