<div id="notification-message">
    <div class="wrapper">
        <span class="icon"></span>
        <span class="content"></span>
        <span class="close"></span>
    </div>
</div>

<script type="text/javascript">
    $('#notification-message .close').click(function () {
        $('#notification-message').hide();
    });
</script>