<div id="session-warning" dialog>
    <div class="outer">
        <div class="inner">
            <div class="box">
                <div class="dialog-title">Session Timeout</div>
                <div class="dialog-content">
                    <section>
                        <div>You have been idle for a while. Your session will expire in</div>
                        <div class="time-left-wrapper"><span class="time-left"></span><span> minutes</span></div>
                        <div>Please click CONTINUE to stay signed in.</div>
                    </section>

                    <div class="buttons-container">
                        <button onclick="extendSession()" class="button main">Continue</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var gShowSessionWarningTime = parseInt('@System.Web.Configuration.WebConfigurationManager.AppSettings["ShowSessionWarningTime"]') * 60000;
</script>
